{% extends "accounts/layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block css %}
<link href="/static/css/accounts/reset_password.css" rel="stylesheet"/>
{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        document.getElementById("password").addEventListener("change", event => {
            let submit_btn = document.getElementById("submit-btn");
            let password_confirm = document.getElementById("password-confirm");
            submit_btn.disabled = (event.target.validity.typeMismatch || password_confirm.validity.typeMismatch);
        });
        document.getElementById("password-confirm").addEventListener("change", event => {
            let submit_btn = document.getElementById("submit-btn");
            let password = document.getElementById("password");
            submit_btn.disabled = (event.target.validity.typeMismatch || password.validity.typeMismatch);
        });
    }
    function togglePassword(id, el) {
        let field = document.getElementById(id);
        if (field.type === "password") {
            field.type = "text";
            el.classList.add('fa-eye-slash');
            el.classList.remove('fa-eye');
        } else {
            field.type = "password";
            el.classList.add('fa-eye');
            el.classList.remove('fa-eye-slash');
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="reset-password-wrapper">
    <a href="/" class="logo-wrapper">
        <div class="logo"></div>
    </a>
    <div class="form-wrapper">
        <div class="email-form">
            <h1>Reset Password</h1>
            <div id="description">
                <p class="light">
                    Enter the new password below.
                </p>
            </div>
            <form action="/accounts/reset/{{ uidb64 }}-{{ ts }}-{{ token }}/" method="POST">
                <div class="input-wrapper">
                    <label for="password" class="usr-input-label">New Password</label>
                    <i class="fa fa-fw fa-eye toggle-icon" onclick="togglePassword('password',this)"></i>
                    <input name="password" id="password" type="password" class="usr-input">
                </div>
                <div class="input-wrapper">
                    <label for="password-confirm" class="usr-input-label">Confirm Password</label>
                    <input name="password_confirm" id="password-confirm" type="password" class="usr-input">
                    <i class="fa fa-fw fa-eye toggle-icon" onclick="togglePassword('password-confirm',this)"></i>
                </div>
                {% for err in form.password.errors %}
                    <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
                {% endfor %}
                {% for hint in form.password.hints %}
                    <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ hint }}</p>
                {% endfor %}

                <button id="submit-btn" type="submit" class="submit-btn" disabled>
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
