{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h1>Reset Your Password</h1>

<form method="POST" action="/accounts/reset/{{ uidb64 }}-{{ ts }}-{{ token }}/">
    <label for="email">Enter Your New Password Below</label>
    <input type="password" placeholder="" name="password">

    <label for="email">Enter Your New Password Again</label>
    <input type="password" placeholder="" name="password_confirm">

    <button type="submit">Reset</button>
</form>
{% endblock %}
