{% extends "accounts/layout.html" %}

{% block title %}Reset Password{% endblock %}
{% block css %}
<link href="/static/css/reset_password.css" rel="stylesheet"/>
{% endblock %}
{% block script %}
<script>
    function togglePassword(id, el) {
        let field = document.getElementById(id);
        if (field.type === "password") {
            field.type = "text";
            el.classList.add('fa-eye-slash');
            el.classList.remove('fa-eye');
        } else {
            field.type = "password";
            el.classList.add('fa-eye');
            el.classList.remove('fa-eye-slash');
        }
    }
</script>
{% endblock %}
{% block content %}
<div class="logo"></div>
<div class="form-wrapper">
    <div class="email-form">
        <h1>Reset Password</h1>
        <div id="description">
            <p class="light">
                Enter the new password below.
            </p>
        </div>
        <form action="/accounts/reset/{{ uidb64 }}-{{ ts }}-{{ token }}/" method="POST">
            <label for="password" class="usr-input-label">New Password</label>
            <input name="password" id="password" type="password" class="usr-input">
            <i class="fa fa-fw fa-eye toggle-icon" onclick="togglePassword('password',this)"></i>

            <label for="password-confirm" class="usr-input-label">Confirm Password</label>
            <input name="password_confirm" id="password-confirm" type="password" class="usr-input">
            <i class="fa fa-fw fa-eye toggle-icon" onclick="togglePassword('password-confirm',this)"></i>
            {% for err in form.password.errors %}
                <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
            {% endfor %}
            {% for hint in form.password.hints %}
                <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ hint }}</p>
            {% endfor %}

            <button type="submit" class="submit-btn">
                Reset Password
            </button>
        </form>
    </div>
</div>
{% endblock %}
