{% extends "accounts/layout.html" %}

{% block title %}Password Changed{% endblock %}
{% block css %}
<link href="/static/css/reset_password.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="logo"></div>
<div class="form-wrapper">
    <div class="email-form">
        <h1>Password Changed!</h1>
        <div id="description">
            <p class="dark">
                Your password has been changed successfully.
            </p>
        </div>
        <form action="/" method="GET">
            <button type="submit" class="submit-btn">
                Back to home
            </button>
        </form>
    </div>
</div>
{% endblock %}
