{% extends "accounts/layout.html" %}

{% block title %}Confirm Request{% endblock %}
{% block css %}
<link href="/static/css/reset_password.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<a href="/"><div class="logo"></div></a>
<div class="form-wrapper">
    <div class="email-form">
        <h1>Thank You</h1>
        <div id="description">
            
            <p class="dark">
                Thank you for getting in touch! <br/>
                We appreciate you contacting us about <b>Movey</b>. We will be getting back to you shortly. <br/><br/>
                Thanks in advance for your patience. <br/>
                Have a great day!
            </p>
            <a href ="/" class="dark redirect">
                Back to home
            </a>
        </div>
        <!-- <p>Email: {{email}}</p>
        <p>Contact for: {{category}}</p>
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p> -->
    </div>
</div>
{% endblock %}

<!-- 


We appreciate you contacting us about [subject, e.g. pre-sale query]. One of our customer happiness members will be getting back to you shortly.

While we do our best to answer your queries quickly, it may take about 10 hours to receive a response from us during peak hours.

Thanks in advance for your patience.
 -->
