{% extends "accounts/layout.html" %}

{% block title %}Login | Movey{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/accounts/signin.css">
{% endblock %}

{% block content %}

<div class="login-container">
    <a href="/" class="movey-logo-container">
        <span class="movey-logo"></span>
    </a>
    <div class="login-card-container">
        <div class="login-card">
            <h1 class="login-card-title">Login</h1>
            <div class="login-thirdparty">
                <a href="/accounts/oauth" class="github-btn-wrapper">
                    <div class="github-btn">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <p class="btn-text">Sign in with Github</p>
                    </div>
                </a>
            </div>
            <div class="login-separator">
                <div class="login-separator-line">
                    <p class="login-separator-text">
                        or use your email
                    </p>
                </div>
            </div>
            <form action="/accounts/login/" method="POST" class="login-form">
                <div class="login-input">
                    <label for="email" class="login-input-label">Email Address</label>
                    <input id="email" name="email" type="email" class="login-input-field"
                        value="{{ form.email.value }}">
                </div>
                <div class="login-input">
                    <label for="password" class="login-input-label">Password</label>
                    <input id="password" name="password" type="password" class="login-input-field"
                        placeholder="8+ characters" autocomplete="current-password">
                    {% if error %}
                        <div class="error-container">
                            <span class="error-icon">
                                &#x26A0;
                            </span>
                            <p class="error">
                                {{ error }}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="login-remember">
                    <span>
                        <input type="checkbox" name="remember_me" id="remember_me">
                        <label for="remember_me">
                            Keep me logged in
                        </label>
                    </span>
                    <a href="/accounts/reset/">Forgot Password?</a>
                </div>
                <button type="submit" class="login-btn">Login</button>
            </form>
            <p class="login-invitation">Not a member? <a href="/accounts/register/">Sign up</a></p>
            {% if flash %}
                <p class="flash_message">{{ flash }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
