{% extends "accounts/layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block css %}
<link href="/static/css/accounts/signup.css" rel="stylesheet"/>
{% endblock %}

{% block script %}
    <script src="/static/js/signup/helper.js"></script>
    <script src="/static/js/signin/helper.js"></script>
{% endblock %}

{% block content %}

{% if error %}
<ul>
    <li>&#9432;&nbsp; {{ error }}</li>
</ul>
{% endif %}

<div class="signup-container">
    <a href="/">
        <span class="movey-logo"></span>
    </a>
    <div class="signup-card-container">
        <div class="signup-card">
            <h1 class="signup-card-title">Sign Up</h1>

            <div class="signup-thirdparty">
                <a href="/accounts/oauth" class="github-btn-wrapper">
                    <div class="github-btn">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <p class="btn-text">Sign in with Github</p>
                    </div>
                </a>
            </div>

            <div class="signup-separator">
                <div class="signup-separator-line">
                    <p class="signup-separator-text">
                        or use your email
                    </p>
                </div>
            </div>

            <form action="/accounts/register/" method="POST" class="signup-form">

                <div class="signup-input">
                    <label for="email" class="signup-input-label">Email Address</label>
                    <input id="email" name="email" type="email"
                        class="signup-input-field"
                        value="{{ form.email.value }}">
                    {% if form.email.errors | length > 0 %}
                        {% for err in form.email.errors %}
                            <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="signup-input">
                    <label for="password" class="signup-input-label">Password</label>
                    <input id="password" name="password" type="password"
                        class="signup-input-field"
                        placeholder="8+ characters">
                    {% if form.password.errors | length > 0 %}
                        {% for err in form.password.errors %}
                            <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <button type="submit" class="create_account_btn" disabled>
                    Create an Account
                </button>
            </form>

            <input id="i_agree" type="checkbox" name="i_agree" class="signup-agree">
            <label for="i_agree" class="signup-agree">
                I agree to <a href="/terms-of-use" target="_blank">Terms of Service</a> and <a href="/policy" target="_blank">Privacy Policy</a>
            </label>

            <p class="signin-invitation">Already a member? <a href="/accounts/login/">Sign in</a></p>
        </div>
    </div>
</div>

<script>
    new Helper();
</script>

{% endblock %}
