{% extends "accounts/layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block meta %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{client_id}}.apps.googleusercontent.com">
{% endblock %}
{% block script %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/js/signup/helper.js"></script>
{% endblock %}


{% block content %}

{% if error %}
<ul>
    <li>&#9432;&nbsp; {{ error }}</li>
</ul>
{% endif %}

<div class="signup_background">

    <a href="/">
        <span class="movey-logo"></span>
    </a>

    <div class="signup_wrapper">

        <div class="signup">
    
            <h1>Sign Up</h1>
    
            <div class="thirdparty">
                <div class="g-signin2" data-onsuccess="onSignIn"
                    data-height="40"
                    data-longtitle="true"
                ></div>
                <a href="/accounts/oauth">
                    <div class="github-btn">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        <p class="btn-text">Sign in with Github</p>
                    </div>
                </a>
            </div>
    
            <div class="separator">
                <div>
                    <p>
                        or use your email
                    </p>
                </div>
            </div>
    
            <form action="/accounts/register/" method="POST">
                
                <div>
                    <label for="email" class="usr_input_label">Email Address</label>
                    <input id="email" name="email" type="email" class="usr_input" value="{{ form.email.value }}">
                    {% if form.email.errors | length > 0 %}
                        {% for err in form.email.errors %}
                            <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
    
                <div>
                    <label for="password" class="usr_input_label">Password</label>
                    <input id="password" name="password" type="password" class="usr_input" placeholder="8+ characters">
                    {% if form.password.errors | length > 0 %}
                        {% for err in form.password.errors %}
                            <p class="error"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ err }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
    
                <button type="submit" class="create_account_btn" disabled>
                    Create an Account
                </button>
            </form>

            <input id="i_agree" type="checkbox" name="i_agree" class="i_agree">
            <label for="i_agree" class="i_agree">
                I agree to <a href="#">Term of Service</a> and <a href="#">Privacy Policy</a>
            </label>
    
            <p class="signin_invitation">Already a member? <a href="/accounts/login/">Sign in</a></p>
        </div>
    </div>
</div>

<script>
    new Helper();
</script>

{% endblock %}
