/*-------------------------------------------------------------------------*/
/* VARIABLES                                                               */
/*-------------------------------------------------------------------------*/

:root {
  --black: #171717;
  --black10: #0a0a0a;
  --black12: #0c0c0c;
  --purple126: #7e4a93;
  --purple190: #be5a99;
  --purple: #A15DB1;
  --pink: #ff6d6d;
  --gray: #6d6d6d;
  --gray187: #bbbbbb;
  --gray-divider: #dddddd;
  --divider: #e2e2e2;
  --white: #ffffff;
  --red-error: #D00000;
  --green-gray: #485D62;
  --green-gray-soft: #8EA4A9;
  --gray-icons: #929292;

  --purple-50: rgba(161, 93, 177, 0.5);
}

/*-------------------------------------------------------------------------*/
/* COLORS                                                                  */
/*-------------------------------------------------------------------------*/

.black {
  color: var(--black);
}

.black-fill {
  background: var(--black);
}

.black10 {
  color: var(--black10);
}

.black10-fill {
  background: var(--black10);
}

.black12 {
  color: var(--black12);
}

.black12-fill {
  background: var(--black12);
}

.white {
  color: var(--white);
}

.white-fill {
  background: var(--white);
}

.purple {
  color: var(--purple);
}

.purple-fill {
  background: var(--purple);
}

.pink {
  color: var(--pink);
}

.pink-fill {
  background: var(--pink);
}

.gray {
  color: var(--gray);
}

.gray-fill {
  background: var(--gray);
}

.gray-divider {
  color: var(--gray-divider);
}

.gray-divider-fill {
  background: var(--gray-divider);
}

.divider {
  color: var(--divider);
}

.divider-fill {
  background: var(--divider);
}

.green-gray {
  color: var(--green-gray);
}

.green-gray-fill {
  background: var(--green-gray);
}

.green-gray-soft {
  color: var(--green-gray-soft);
}

.green-gray-soft-fill {
  background: var(--green-gray-soft);
}

.gray-icons {
  color:  var(--gray-icons);
}

/*-------------------------------------------------------------------------*/
/* FONTS                                                                   */
/*-------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
.title-18,
.body-18,
.body-18-black,
.body-18-medium,
.body-17,
.body-17-medium,
.body-16,
.body-16-medium,
.body-15,
.body-15-medium,
.body-14,
.body-14-medium,
.descriptor {
  font-family: Inter;
  font-style: normal;
}

h1 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 600;
  color: var(--black12);
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  color: var(--black12);
}

h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: var(--black12);
}

h4 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  color: var(--black12);
}

h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--black12);
}

/*h6 {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: var(--black12);
} */

.title-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.body-18 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.body-18-black {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.body-18-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.body-17 {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.body-17-medium {
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.003em;
}

.body-16 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
}

.body-16-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.002em;
}

.body-15 {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.008em;
}

.body-15-medium {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.008em;
}

.body-14 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.body-14-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.descriptor {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--gray);
}

/*-------------------------------------------------------------------------*/
/* BUTTONS                                                                 */
/*-------------------------------------------------------------------------*/

.button-structure,
.button-primary,
.button-secondary,
.button-emphasis {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.002em;
  border-radius: 200px;
  cursor: pointer;
}

.button-structure {
  background: var(--purple);
  color: var(--white);
  border: 0px;
}

.button-primary {
  background: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
  box-sizing: border-box;
}

.button-primary:disabled {
  border: 1px solid var(--gray187);
  color: var(--gray187);
}

.button-secondary {
  background: var(--black);
  color: var(--white);
  border: 0px;
}

.button-emphasis {
  color: var(--white);
  background-image: linear-gradient(
    to right,
    var(--purple126) 0%,
    var(--purple190) 44.79%,
    var(--pink) 100%
  );
  border: 0px;
}

.tertiary-normal,
.tertiary-small,
.scroll {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tertiary-normal:hover div {
  text-decoration: underline;
}
.tertiary-small:hover div {
  text-decoration: underline;
}
.scroll:hover div {
  text-decoration: underline;
}

.tertiary-normal {
  font-size: 16px;
  line-height: 24px;
}
.tertiary-small {
  font-size: 14px;
  line-height: 20px;
}
.scroll {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

/*-------------------------------------------------------------------------*/
/* SPACING                                                                 */
/*-------------------------------------------------------------------------*/

.gap-4 {
  margin-top: 4px;
}

.gap-8 {
  margin-top: 8px;
}

.gap-12 {
  margin-top: 12px;
}

.gap-16 {
  margin-top: 16px;
}

.gap-20 {
  margin-top: 20px;
}

.gap-24 {
  margin-top: 24px;
}

.gap-32 {
  margin-top: 32px;
}

.gap-48 {
  margin-top: 48px;
}

/* Vertical Gaps (Bottom) */
.bgap-4 {
  margin-bottom: 4px;
}

.bgap-8 {
  margin-bottom: 8px;
}

.bgap-12 {
  margin-bottom: 12px;
}

.bgap-16 {
  margin-bottom: 16px;
}

.bgap-20 {
  margin-bottom: 20px;
}

.bgap-24 {
  margin-bottom: 24px;
}

.bgap-32 {
  margin-bottom: 32px;
}

.bgap-48 {
  margin-bottom: 48px;
}

/* Negative Vertical Gaps */
.gap--4 {
  margin-top: -4px;
}

.gap--8 {
  margin-top: -8px;
}

.gap--8 {
  margin-top: -12px;
}

.gap--16 {
  margin-top: -16px;
}

.gap--20 {
  margin-top: -20px;
}

.gap--24 {
  margin-top: -24px;
}

.gap--32 {
  margin-top: -32px;
}

.gap--48 {
  margin-top: -48px;
}
/* Negative Vertical Gaps (Bottom) */
/* Horizontal gaps */
.hgap-4 {
  margin-left: 4px;
}

.hgap-8 {
  margin-left: 8px;
}

.hgap-12 {
  margin-left: 12px;
}

.hgap-16 {
  margin-left: 16px;
}

.hgap-20 {
  margin-left: 20px;
}

.hgap-24 {
  margin-left: 24px;
}

.hgap-32 {
  margin-left: 32px;
}

.hgap-48 {
  margin-left: 48px;
}

.hgap-4-right {
  margin-right: 4px;
}

.hgap-8-right {
  margin-right: 8px;
}

.hgap-8-right {
  margin-right: 12px;
}

.hgap-16-right {
  margin-right: 16px;
}

.hgap-20-right {
  margin-right: 20px;
}

.hgap-24-right {
  margin-right: 24px;
}

.hgap-32-right {
  margin-right: 32px;
}

.hgap-48-right {
  margin-right: 48px;
}

/*-------------------------------------------------------------------------*/
/* LOGO                                                                    */
/*-------------------------------------------------------------------------*/

.logo-base {
  width: 112px;
  height: 25.8px;
}

.logo-small {
  width: 112px;
  height: 25.8px;
}

.logo-small-container {
  width: 112px;
  height: 32px;
}

.logo-large {
  width: 292px;
  height: 66.65px;
}

.logo-large-container {
  width: 292px;
  height: 80px;
}

/*-------------------------------------------------------------------------*/
/* POSITION                                                                */
/*-------------------------------------------------------------------------*/

.ver-center {
  display: flex;
  align-items: center !important;
}
.ver-top {
  display: flex;
  align-items: flex-start !important;
}

.hor-center {
  display: flex;
  justify-content: center !important;
}

.hor-left {
  display: flex;
  justify-content: flex-start !important;
}

.hor-right {
  display: flex;
  justify-content: flex-end !important;
}

/*-------------------------------------------------------------------------*/
/* MODAL                                                                   */
/*-------------------------------------------------------------------------*/

.modal-default {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 394px;
  border-radius: 16px !important;
  border: none !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12) !important;
}


.iframe-container {
  max-height: calc(100% - 32px);
  height: max-content;
  overflow: auto;

}

/*-------------------------------------------------------------------------*/
/* LAYOUT                                                                  */
/*-------------------------------------------------------------------------*/

.full-page {
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-full {
  grid-template-columns: 1fr;
}

.grid-row-gap-1x {
  grid-row-gap: 8px;
}

.grid-row-gap-3x {
  grid-row-gap: 24px;
}

.grid-col-gap-1x {
  grid-column-gap: 8px;
}

.grid-col-gap-3x {
  grid-column-gap: 24px;
}

/*-------------------------------------------------------------------------*/
/* ICON                                                                    */
/*-------------------------------------------------------------------------*/

i:before {
  display: inline-block;
}

.si-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.si-icon-circle {
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}


/*Container sizes*/
.si-icon-1x {
  height: 4px;
  width: 4px;
}
.si-icon-2x {
  height: 8px;
  width: 8px;
}
.si-icon-3x {
  height: 12px;
  width: 12px;
}
.si-icon-4x {
  height: 16px;
  width: 16px;
}
.si-icon-5x {
  height: 20px;
  width: 20px;
}
.si-icon-6x {
  height: 24px;
  width: 24px;
}
.si-icon-7x {
  height: 28px;
  width: 28px;
}
.si-icon-8x {
  height: 32px;
  width: 32px;
}
.si-icon-12x {
  height: 48px;
  width: 48px;
}

/*Font sizes*/
.si-icon-text-1x {
  font-size: 4px;
}

.si-icon-text-2x {
  font-size: 8px;
}

.si-icon-text-3x {
  font-size: 12px;
}

.si-icon-text-4x {
  font-size: 16px;
}

.si-icon-text-5x {
  font-size: 20px;
}

.si-icon-text-6x {
  font-size: 24px;
}

/*-------------------------------------------------------------------------*/
/* CHECKBOX                                                                */
/*-------------------------------------------------------------------------*/

.select-option-container {
  display: flex;
  align-items: center;
  height: 30px;

  position: relative;
  padding-left: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.select-option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.symbium-checkmark {
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}

/* Create the symbium-checkmark/indicator (hidden when not checked) */
.symbium-checkmark i {
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  font-size: 20px;
  font-weight: bold;
  color: #6d6d6d;
}

/* Show the symbium-checkmark when checked */
.select-option-container input:checked ~ .symbium-checkmark i {
  display: block;
}

/*-------------------------------------------------------------------------*/
/* DISPLAY                                                                 */
/*-------------------------------------------------------------------------*/
.hidden{
  display: none;
}

.invisible {
  visibility: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*-------------------------------------------------------------------------*/
/* AVATAR                                                                  */
/*-------------------------------------------------------------------------*/

.btn-login {
  width: max-content;
  border: none;
  background: none;

  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
}

.btn-login-success {
  width: max-content;
  border: none;
  border-radius: 100%;
  background: var(--white);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.12));

  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
}

.account-initials {
  background: linear-gradient(89.97deg, #7E4A93 -8.12%, #BE5A99 48.16%, #FF6D6D 99.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  border-radius: 100%;
}
