@font-face {
  font-family: "si-icon";
  src: url("../fonts/si-icon.eot?1n2h1");
  src: url("../fonts/si-icon.eot?1n2h1#iefix") format("embedded-opentype"),
    url("../fonts/si-icon.ttf?1n2h1") format("truetype"),
    url("../fonts/si-icon.woff?1n2h1") format("woff"),
    url("../fonts/si-icon.svg?1n2h1#si-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="si-"],
[class*=" si-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "si-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-activity:before {
  content: "\e900";
}
.si-airplane_in_flight:before {
  content: "\e901";
}
.si-airplane_landing:before {
  content: "\e902";
}
.si-airplane_takeoff:before {
  content: "\e903";
}
.si-airplane:before {
  content: "\e904";
}
.si-airplay:before {
  content: "\e905";
}
.si-alarm:before {
  content: "\e906";
}
.si-align_bottom:before {
  content: "\e907";
}
.si-align_center_horizontal:before {
  content: "\e908";
}
.si-align_center_vertical:before {
  content: "\e909";
}
.si-align_left:before {
  content: "\e90a";
}
.si-align_right:before {
  content: "\e90b";
}
.si-align_top:before {
  content: "\e90c";
}
.si-anchor:before {
  content: "\e90d";
}
.si-android_logo:before {
  content: "\e90e";
}
.si-aperture:before {
  content: "\e90f";
}
.si-apple_logo:before {
  content: "\e910";
}
.si-archive_box:before {
  content: "\e911";
}
.si-archive_tray:before {
  content: "\e912";
}
.si-archive:before {
  content: "\e913";
}
.si-arrow_arc_left:before {
  content: "\e914";
}
.si-arrow_arc_right:before {
  content: "\e915";
}
.si-arrow_bend_double_up_left:before {
  content: "\e916";
}
.si-arrow_bend_double_up_right:before {
  content: "\e917";
}
.si-arrow_bend_down_left:before {
  content: "\e918";
}
.si-arrow_bend_down_right:before {
  content: "\e919";
}
.si-arrow_bend_left_down:before {
  content: "\e91a";
}
.si-arrow_bend_left_up:before {
  content: "\e91b";
}
.si-arrow_bend_right_down:before {
  content: "\e91c";
}
.si-arrow_bend_right_up:before {
  content: "\e91d";
}
.si-arrow_bend_up_left:before {
  content: "\e91e";
}
.si-arrow_bend_up_right:before {
  content: "\e91f";
}
.si-arrow_circle_down_left:before {
  content: "\e920";
}
.si-arrow_circle_down_right:before {
  content: "\e921";
}
.si-arrow_circle_down:before {
  content: "\e922";
}
.si-arrow_circle_left:before {
  content: "\e923";
}
.si-arrow_circle_right:before {
  content: "\e924";
}
.si-arrow_circle_up_left:before {
  content: "\e925";
}
.si-arrow_circle_up_right:before {
  content: "\e926";
}
.si-arrow_circle_up:before {
  content: "\e927";
}
.si-arrow_clockwise:before {
  content: "\e928";
}
.si-arrow_counter_clockwise:before {
  content: "\e929";
}
.si-arrow_down_left:before {
  content: "\e92a";
}
.si-arrow_down_right:before {
  content: "\e92b";
}
.si-arrow_down:before {
  content: "\e92c";
}
.si-arrow_elbow_down_left:before {
  content: "\e92d";
}
.si-arrow_elbow_down_right:before {
  content: "\e92e";
}
.si-arrow_elbow_left_down:before {
  content: "\e92f";
}
.si-arrow_elbow_left_up:before {
  content: "\e930";
}
.si-arrow_elbow_left:before {
  content: "\e931";
}
.si-arrow_elbow_right_down:before {
  content: "\e932";
}
.si-arrow_elbow_right_up:before {
  content: "\e933";
}
.si-arrow_elbow_right:before {
  content: "\e934";
}
.si-arrow_elbow_up_left:before {
  content: "\e935";
}
.si-arrow_elbow_up_right:before {
  content: "\e936";
}
.si-arrow_fat_down:before {
  content: "\e937";
}
.si-arrow_fat_left:before {
  content: "\e938";
}
.si-arrow_fat_line_down:before {
  content: "\e939";
}
.si-arrow_fat_line_left:before {
  content: "\e93a";
}
.si-arrow_fat_line_right:before {
  content: "\e93b";
}
.si-arrow_fat_line_up:before {
  content: "\e93c";
}
.si-arrow_fat_lines_down:before {
  content: "\e93d";
}
.si-arrow_fat_lines_left:before {
  content: "\e93e";
}
.si-arrow_fat_lines_right:before {
  content: "\e93f";
}
.si-arrow_fat_lines_up:before {
  content: "\e940";
}
.si-arrow_fat_right:before {
  content: "\e941";
}
.si-arrow_fat_up:before {
  content: "\e942";
}
.si-arrow_left:before {
  content: "\e943";
}
.si-arrow_line_down_left:before {
  content: "\e944";
}
.si-arrow_line_down_right:before {
  content: "\e945";
}
.si-arrow_line_down:before {
  content: "\e946";
}
.si-arrow_line_left:before {
  content: "\e947";
}
.si-arrow_line_right:before {
  content: "\e948";
}
.si-arrow_line_up_left:before {
  content: "\e949";
}
.si-arrow_line_up_right:before {
  content: "\e94a";
}
.si-arrow_line_up:before {
  content: "\e94b";
}
.si-arrow_right:before {
  content: "\e94c";
}
.si-arrow_square_down_left:before {
  content: "\e94d";
}
.si-arrow_square_down_right:before {
  content: "\e94e";
}
.si-arrow_square_down:before {
  content: "\e94f";
}
.si-arrow_square_left:before {
  content: "\e950";
}
.si-arrow_square_right:before {
  content: "\e951";
}
.si-arrow_square_up_left:before {
  content: "\e952";
}
.si-arrow_square_up_right:before {
  content: "\e953";
}
.si-arrow_square_up:before {
  content: "\e954";
}
.si-arrow_u_down_left:before {
  content: "\e955";
}
.si-arrow_u_down_right:before {
  content: "\e956";
}
.si-arrow_u_left_down:before {
  content: "\e957";
}
.si-arrow_u_left_up:before {
  content: "\e958";
}
.si-arrow_u_right_down:before {
  content: "\e959";
}
.si-arrow_u_right_up:before {
  content: "\e95a";
}
.si-arrow_u_up_left:before {
  content: "\e95b";
}
.si-arrow_u_up_right:before {
  content: "\e95c";
}
.si-arrow_up_left:before {
  content: "\e95d";
}
.si-arrow_up_right:before {
  content: "\e95e";
}
.si-arrow_up:before {
  content: "\e95f";
}
.si-arrows_clockwise:before {
  content: "\e960";
}
.si-arrows_counter_clockwise:before {
  content: "\e961";
}
.si-arrows_down_up:before {
  content: "\e962";
}
.si-arrows_in_cardinal:before {
  content: "\e963";
}
.si-arrows_in_line_horizontal:before {
  content: "\e964";
}
.si-arrows_in_line_vertical:before {
  content: "\e965";
}
.si-arrows_in_simple:before {
  content: "\e966";
}
.si-arrows_in:before {
  content: "\e967";
}
.si-arrows_left_right:before {
  content: "\e968";
}
.si-arrows_out_cardinal:before {
  content: "\e969";
}
.si-arrows_out_line_horizontal:before {
  content: "\e96a";
}
.si-arrows_out_line_vertical:before {
  content: "\e96b";
}
.si-arrows_out_simple:before {
  content: "\e96c";
}
.si-arrows_out:before {
  content: "\e96d";
}
.si-article:before {
  content: "\e96e";
}
.si-asterisk:before {
  content: "\e96f";
}
.si-at:before {
  content: "\e970";
}
.si-backspace:before {
  content: "\e971";
}
.si-bag:before {
  content: "\e972";
}
.si-bandaids:before {
  content: "\e973";
}
.si-bank:before {
  content: "\e974";
}
.si-barbell:before {
  content: "\e975";
}
.si-barcode:before {
  content: "\e976";
}
.si-battery_charging_vertical:before {
  content: "\e977";
}
.si-battery_charging:before {
  content: "\e978";
}
.si-battery_empty:before {
  content: "\e979";
}
.si-battery_full:before {
  content: "\e97a";
}
.si-battery_high:before {
  content: "\e97b";
}
.si-battery_low:before {
  content: "\e97c";
}
.si-battery_medium:before {
  content: "\e97d";
}
.si-battery_warning_vertical:before {
  content: "\e97e";
}
.si-battery_warning:before {
  content: "\e97f";
}
.si-bed:before {
  content: "\e980";
}
.si-bell_simple_slash:before {
  content: "\e981";
}
.si-bell_simple:before {
  content: "\e982";
}
.si-bell_slash:before {
  content: "\e983";
}
.si-bell:before {
  content: "\e984";
}
.si-bicycle:before {
  content: "\e985";
}
.si-bluetooth_connected:before {
  content: "\e986";
}
.si-bluetooth_slash:before {
  content: "\e987";
}
.si-bluetooth_x:before {
  content: "\e988";
}
.si-bluetooth:before {
  content: "\e989";
}
.si-book_bookmark:before {
  content: "\e98a";
}
.si-book_open:before {
  content: "\e98b";
}
.si-book:before {
  content: "\e98c";
}
.si-bookmark_simple:before {
  content: "\e98d";
}
.si-bookmark:before {
  content: "\e98e";
}
.si-bookmarks:before {
  content: "\e98f";
}
.si-briefcase_simple:before {
  content: "\e990";
}
.si-briefcase:before {
  content: "\e991";
}
.si-broadcast:before {
  content: "\e992";
}
.si-browser:before {
  content: "\e993";
}
.si-browsers_simple:before {
  content: "\e994";
}
.si-browsers:before {
  content: "\e995";
}
.si-buildings:before {
  content: "\e996";
}
.si-bus:before {
  content: "\e997";
}
.si-calculator:before {
  content: "\e998";
}
.si-calendar_blank:before {
  content: "\e999";
}
.si-calendar_x:before {
  content: "\e99a";
}
.si-calendar:before {
  content: "\e99b";
}
.si-camera_slash:before {
  content: "\e99c";
}
.si-camera:before {
  content: "\e99d";
}
.si-car_simple:before {
  content: "\e99e";
}
.si-car:before {
  content: "\e99f";
}
.si-caret_circle_double_down:before {
  content: "\e9a0";
}
.si-caret_circle_double_left:before {
  content: "\e9a1";
}
.si-caret_circle_double_right:before {
  content: "\e9a2";
}
.si-caret_circle_double_up:before {
  content: "\e9a3";
}
.si-caret_circle_down:before {
  content: "\e9a4";
}
.si-caret_circle_left:before {
  content: "\e9a5";
}
.si-caret_circle_right:before {
  content: "\e9a6";
}
.si-caret_circle_up:before {
  content: "\e9a7";
}
.si-caret_double_down:before {
  content: "\e9a8";
}
.si-caret_double_left:before {
  content: "\e9a9";
}
.si-caret_double_right:before {
  content: "\e9aa";
}
.si-caret_double_up:before {
  content: "\e9ab";
}
.si-caret_down:before {
  content: "\e9ac";
}
.si-caret_left:before {
  content: "\e9ad";
}
.si-caret_right:before {
  content: "\e9ae";
}
.si-caret_up:before {
  content: "\e9af";
}
.si-cell_signal_full:before {
  content: "\e9b0";
}
.si-cell_signal_high:before {
  content: "\e9b1";
}
.si-cell_signal_low:before {
  content: "\e9b2";
}
.si-cell_signal_medium:before {
  content: "\e9b3";
}
.si-cell_signal_none:before {
  content: "\e9b4";
}
.si-cell_signal_slash:before {
  content: "\e9b5";
}
.si-cell_signal_x:before {
  content: "\e9b6";
}
.si-chart_bar_horizontal:before {
  content: "\e9b7";
}
.si-chart_bar:before {
  content: "\e9b8";
}
.si-chart_line_up:before {
  content: "\e9b9";
}
.si-chart_line:before {
  content: "\e9ba";
}
.si-chart_pie_slice:before {
  content: "\e9bb";
}
.si-chart_pie:before {
  content: "\e9bc";
}
.si-chat_centered_dots:before {
  content: "\e9bd";
}
.si-chat_centered_text:before {
  content: "\e9be";
}
.si-chat_centered:before {
  content: "\e9bf";
}
.si-chat_circle_dots:before {
  content: "\e9c0";
}
.si-chat_circle_text:before {
  content: "\e9c1";
}
.si-chat_circle:before {
  content: "\e9c2";
}
.si-chat_dots:before {
  content: "\e9c3";
}
.si-chat_teardrop_dots:before {
  content: "\e9c4";
}
.si-chat_teardrop_text:before {
  content: "\e9c5";
}
.si-chat_teardrop:before {
  content: "\e9c6";
}
.si-chat_text:before {
  content: "\e9c7";
}
.si-chat:before {
  content: "\e9c8";
}
.si-chats_circle:before {
  content: "\e9c9";
}
.si-chats_teardrop:before {
  content: "\e9ca";
}
.si-chats:before {
  content: "\e9cb";
}
.si-check_circle:before {
  content: "\e9cc";
}
.si-check_square_offset:before {
  content: "\e9cd";
}
.si-check_square:before {
  content: "\e9ce";
}
.si-check:before {
  content: "\e9cf";
}
.si-checks:before {
  content: "\e9d0";
}
.si-circle_half_tilt:before {
  content: "\e9d1";
}
.si-circle_half:before {
  content: "\e9d2";
}
.si-circle:before {
  content: "\e9d3";
}
.si-circles_four:before {
  content: "\e9d4";
}
.si-circles_three_plus:before {
  content: "\e9d5";
}
.si-circles_three:before {
  content: "\e9d6";
}
.si-clipboard_text:before {
  content: "\e9d7";
}
.si-clipboard:before {
  content: "\e9d8";
}
.si-clock_afternoon:before {
  content: "\e9d9";
}
.si-clock_clockwise:before {
  content: "\e9da";
}
.si-clock_counter_clockwise:before {
  content: "\e9db";
}
.si-clock:before {
  content: "\e9dc";
}
.si-closed_captioning:before {
  content: "\e9dd";
}
.si-cloud_arrow_down:before {
  content: "\e9de";
}
.si-cloud_arrow_up:before {
  content: "\e9df";
}
.si-cloud_check:before {
  content: "\e9e0";
}
.si-cloud_fog:before {
  content: "\e9e1";
}
.si-cloud_lightning:before {
  content: "\e9e2";
}
.si-cloud_moon:before {
  content: "\e9e3";
}
.si-cloud_rain:before {
  content: "\e9e4";
}
.si-cloud_slash:before {
  content: "\e9e5";
}
.si-cloud_snow:before {
  content: "\e9e6";
}
.si-cloud_sun:before {
  content: "\e9e7";
}
.si-cloud:before {
  content: "\e9e8";
}
.si-club:before {
  content: "\e9e9";
}
.si-code_simple:before {
  content: "\e9ea";
}
.si-code:before {
  content: "\e9eb";
}
.si-coffee:before {
  content: "\e9ec";
}
.si-columns:before {
  content: "\e9ed";
}
.si-command:before {
  content: "\e9ee";
}
.si-compass:before {
  content: "\e9ef";
}
.si-computer_tower:before {
  content: "\e9f0";
}
.si-copy_simple:before {
  content: "\e9f1";
}
.si-copy:before {
  content: "\e9f2";
}
.si-copyright:before {
  content: "\e9f3";
}
.si-corners_in:before {
  content: "\e9f4";
}
.si-corners_out:before {
  content: "\e9f5";
}
.si-credit_card:before {
  content: "\e9f6";
}
.si-crop:before {
  content: "\e9f7";
}
.si-crosshair_simple:before {
  content: "\e9f8";
}
.si-crosshair:before {
  content: "\e9f9";
}
.si-cube:before {
  content: "\e9fa";
}
.si-currency_circle_dollar:before {
  content: "\e9fb";
}
.si-currency_cny:before {
  content: "\e9fc";
}
.si-currency_dollar_simple:before {
  content: "\e9fd";
}
.si-currency_dollar:before {
  content: "\e9fe";
}
.si-currency_eur:before {
  content: "\e9ff";
}
.si-currency_gbp:before {
  content: "\ea00";
}
.si-currency_inr:before {
  content: "\ea01";
}
.si-currency_jpy:before {
  content: "\ea02";
}
.si-currency_krw:before {
  content: "\ea03";
}
.si-currency_rub:before {
  content: "\ea04";
}
.si-cursor:before {
  content: "\ea05";
}
.si-database:before {
  content: "\ea06";
}
.si-desktop_tower:before {
  content: "\ea07";
}
.si-desktop:before {
  content: "\ea08";
}
.si-device_mobile_camera:before {
  content: "\ea09";
}
.si-device_mobile_speaker:before {
  content: "\ea0a";
}
.si-device_mobile:before {
  content: "\ea0b";
}
.si-device_tablet_camera:before {
  content: "\ea0c";
}
.si-device_tablet_speaker:before {
  content: "\ea0d";
}
.si-device_tablet:before {
  content: "\ea0e";
}
.si-diamond:before {
  content: "\ea0f";
}
.si-dice_five:before {
  content: "\ea10";
}
.si-dice_four:before {
  content: "\ea11";
}
.si-dice_one:before {
  content: "\ea12";
}
.si-dice_six:before {
  content: "\ea13";
}
.si-dice_three:before {
  content: "\ea14";
}
.si-dice_two:before {
  content: "\ea15";
}
.si-disc:before {
  content: "\ea16";
}
.si-divide:before {
  content: "\ea17";
}
.si-dots_nine:before {
  content: "\ea18";
}
.si-dots_three_circle_vertical:before {
  content: "\ea19";
}
.si-dots_three_circle:before {
  content: "\ea1a";
}
.si-dots_three_outline_vertical:before {
  content: "\ea1b";
}
.si-dots_three_outline:before {
  content: "\ea1c";
}
.si-dots_three_vertical:before {
  content: "\ea1d";
}
.si-dots_three:before {
  content: "\ea1e";
}
.si-download_simple:before {
  content: "\ea1f";
}
.si-download:before {
  content: "\ea20";
}
.si-dribbble_logo:before {
  content: "\ea21";
}
.si-drop_half:before {
  content: "\ea22";
}
.si-drop:before {
  content: "\ea23";
}
.si-eject:before {
  content: "\ea24";
}
.si-envelope_open:before {
  content: "\ea25";
}
.si-envelope_simple_open:before {
  content: "\ea26";
}
.si-envelope_simple:before {
  content: "\ea27";
}
.si-envelope:before {
  content: "\ea28";
}
.si-equals:before {
  content: "\ea29";
}
.si-eraser:before {
  content: "\ea2a";
}
.si-eye_closed:before {
  content: "\ea2b";
}
.si-eye_slash:before {
  content: "\ea2c";
}
.si-eye:before {
  content: "\ea2d";
}
.si-eyedropper:before {
  content: "\ea2e";
}
.si-face_mask:before {
  content: "\ea2f";
}
.si-facebook_logo:before {
  content: "\ea30";
}
.si-faders_horizontal:before {
  content: "\ea31";
}
.si-faders:before {
  content: "\ea32";
}
.si-fast_forward_circle:before {
  content: "\ea33";
}
.si-figma_logo:before {
  content: "\ea34";
}
.si-file_arrow_down:before {
  content: "\ea35";
}
.si-file_minus:before {
  content: "\ea36";
}
.si-file_plus:before {
  content: "\ea37";
}
.si-file_search:before {
  content: "\ea38";
}
.si-file_text:before {
  content: "\ea39";
}
.si-file_x:before {
  content: "\ea3a";
}
.si-file:before {
  content: "\ea3b";
}
.si-fingerprint_simple:before {
  content: "\ea3c";
}
.si-fingerprint:before {
  content: "\ea3d";
}
.si-finn_the_human:before {
  content: "\ea3e";
}
.si-fire:before {
  content: "\ea3f";
}
.si-first_aid_kit:before {
  content: "\ea40";
}
.si-first_aid:before {
  content: "\ea41";
}
.si-flag:before {
  content: "\ea42";
}
.si-flashlight:before {
  content: "\ea43";
}
.si-floppy_disk:before {
  content: "\ea44";
}
.si-folder_minus:before {
  content: "\ea45";
}
.si-folder_notch_minus:before {
  content: "\ea46";
}
.si-folder_notch_open:before {
  content: "\ea47";
}
.si-folder_notch_plus:before {
  content: "\ea48";
}
.si-folder_notch:before {
  content: "\ea49";
}
.si-folder_open:before {
  content: "\ea4a";
}
.si-folder_plus:before {
  content: "\ea4b";
}
.si-folder_simple_minus:before {
  content: "\ea4c";
}
.si-folder_simple_plus:before {
  content: "\ea4d";
}
.si-folder_simple:before {
  content: "\ea4e";
}
.si-folder:before {
  content: "\ea4f";
}
.si-folders:before {
  content: "\ea50";
}
.si-fork_knife:before {
  content: "\ea51";
}
.si-framer_logo:before {
  content: "\ea52";
}
.si-funnel_simple:before {
  content: "\ea53";
}
.si-funnel:before {
  content: "\ea54";
}
.si-game_controller:before {
  content: "\ea55";
}
.si-gear_six:before {
  content: "\ea56";
}
.si-gear:before {
  content: "\ea57";
}
.si-gif:before {
  content: "\ea58";
}
.si-gift:before {
  content: "\ea59";
}
.si-git_branch:before {
  content: "\ea5a";
}
.si-git_commit:before {
  content: "\ea5b";
}
.si-git_diff:before {
  content: "\ea5c";
}
.si-git_fork:before {
  content: "\ea5d";
}
.si-git_merge:before {
  content: "\ea5e";
}
.si-git_pull_request:before {
  content: "\ea5f";
}
.si-github_logo:before {
  content: "\ea60";
}
.si-globe_hemisphere_east:before {
  content: "\ea61";
}
.si-globe_hemisphere_west:before {
  content: "\ea62";
}
.si-globe_simple:before {
  content: "\ea63";
}
.si-globe_stand:before {
  content: "\ea64";
}
.si-globe:before {
  content: "\ea65";
}
.si-google_logo:before {
  content: "\ea66";
}
.si-google_play_logo:before {
  content: "\ea67";
}
.si-grid_four:before {
  content: "\ea68";
}
.si-hand_fist:before {
  content: "\ea69";
}
.si-hand_grabbing:before {
  content: "\ea6a";
}
.si-hand_palm:before {
  content: "\ea6b";
}
.si-hand_pointing:before {
  content: "\ea6c";
}
.si-hand_waving:before {
  content: "\ea6d";
}
.si-hand:before {
  content: "\ea6e";
}
.si-handbag:before {
  content: "\ea6f";
}
.si-handshake:before {
  content: "\ea70";
}
.si-hard_drive:before {
  content: "\ea71";
}
.si-hard_drives:before {
  content: "\ea72";
}
.si-hash_straight:before {
  content: "\ea73";
}
.si-hash:before {
  content: "\ea74";
}
.si-headphones:before {
  content: "\ea75";
}
.si-headset:before {
  content: "\ea76";
}
.si-heart_straight:before {
  content: "\ea77";
}
.si-heart:before {
  content: "\ea78";
}
.si-heartbeat:before {
  content: "\ea79";
}
.si-hexagon:before {
  content: "\ea7a";
}
.si-horse:before {
  content: "\ea7b";
}
.si-hourglass_high:before {
  content: "\ea7c";
}
.si-hourglass_low:before {
  content: "\ea7d";
}
.si-hourglass_medium:before {
  content: "\ea7e";
}
.si-hourglass_simple_high:before {
  content: "\ea7f";
}
.si-hourglass_simple_low:before {
  content: "\ea80";
}
.si-hourglass_simple_medium:before {
  content: "\ea81";
}
.si-hourglass_simple:before {
  content: "\ea82";
}
.si-hourglass:before {
  content: "\ea83";
}
.si-house_line:before {
  content: "\ea84";
}
.si-house_simple:before {
  content: "\ea85";
}
.si-house:before {
  content: "\ea86";
}
.si-identification_card:before {
  content: "\ea87";
}
.si-image_square:before {
  content: "\ea88";
}
.si-image:before {
  content: "\ea89";
}
.si-info:before {
  content: "\ea8a";
}
.si-instagram_logo:before {
  content: "\ea8b";
}
.si-intersect:before {
  content: "\ea8c";
}
.si-jeep:before {
  content: "\ea8d";
}
.si-key:before {
  content: "\ea8e";
}
.si-keyboard:before {
  content: "\ea8f";
}
.si-laptop:before {
  content: "\ea90";
}
.si-leaf:before {
  content: "\ea91";
}
.si-lightbulb:before {
  content: "\ea92";
}
.si-lightning_slash:before {
  content: "\ea93";
}
.si-lightning:before {
  content: "\ea94";
}
.si-link_break:before {
  content: "\ea95";
}
.si-link_simple_break:before {
  content: "\ea96";
}
.si-link_simple_horizontal_break:before {
  content: "\ea97";
}
.si-link_simple_horizontal:before {
  content: "\ea98";
}
.si-link_simple:before {
  content: "\ea99";
}
.si-link:before {
  content: "\ea9a";
}
.si-linkedin_logo:before {
  content: "\ea9b";
}
.si-list_bullets:before {
  content: "\ea9c";
}
.si-list_dashes:before {
  content: "\ea9d";
}
.si-list_numbers:before {
  content: "\ea9e";
}
.si-list_plus:before {
  content: "\ea9f";
}
.si-list:before {
  content: "\eaa0";
}
.si-lock_key_open:before {
  content: "\eaa1";
}
.si-lock_key:before {
  content: "\eaa2";
}
.si-lock_laminated_open:before {
  content: "\eaa3";
}
.si-lock_laminated:before {
  content: "\eaa4";
}
.si-lock_open:before {
  content: "\eaa5";
}
.si-lock_simple_open:before {
  content: "\eaa6";
}
.si-lock_simple:before {
  content: "\eaa7";
}
.si-lock:before {
  content: "\eaa8";
}
.si-magnifying_glass_minus:before {
  content: "\eaa9";
}
.si-magnifying_glass_plus:before {
  content: "\eaaa";
}
.si-magnifying_glass:before {
  content: "\eaab";
}
.si-map_pin_line:before {
  content: "\eaac";
}
.si-map_pin:before {
  content: "\eaad";
}
.si-map_trifold:before {
  content: "\eaae";
}
.si-martini:before {
  content: "\eaaf";
}
.si-math_operations:before {
  content: "\eab0";
}
.si-medal:before {
  content: "\eab1";
}
.si-medium_logo:before {
  content: "\eab2";
}
.si-megaphone:before {
  content: "\eab3";
}
.si-microphone_slash:before {
  content: "\eab4";
}
.si-microphone:before {
  content: "\eab5";
}
.si-minus_circle:before {
  content: "\eab6";
}
.si-minus:before {
  content: "\eab7";
}
.si-money:before {
  content: "\eab8";
}
.si-monitor_play:before {
  content: "\eab9";
}
.si-monitor:before {
  content: "\eaba";
}
.si-moon_stars:before {
  content: "\eabb";
}
.si-moon:before {
  content: "\eabc";
}
.si-mouse:before {
  content: "\eabd";
}
.si-music_note_simple:before {
  content: "\eabe";
}
.si-music_note:before {
  content: "\eabf";
}
.si-music_notes_simple:before {
  content: "\eac0";
}
.si-music_notes:before {
  content: "\eac1";
}
.si-navigation_arrow:before {
  content: "\eac2";
}
.si-newspaper_clipping:before {
  content: "\eac3";
}
.si-newspaper:before {
  content: "\eac4";
}
.si-note_blank:before {
  content: "\eac5";
}
.si-note_pencil:before {
  content: "\eac6";
}
.si-note:before {
  content: "\eac7";
}
.si-notebook:before {
  content: "\eac8";
}
.si-number_circle_eight:before {
  content: "\eac9";
}
.si-number_circle_five:before {
  content: "\eaca";
}
.si-number_circle_four:before {
  content: "\eacb";
}
.si-number_circle_nine:before {
  content: "\eacc";
}
.si-number_circle_one:before {
  content: "\eacd";
}
.si-number_circle_seven:before {
  content: "\eace";
}
.si-number_circle_six:before {
  content: "\eacf";
}
.si-number_circle_three:before {
  content: "\ead0";
}
.si-number_circle_two:before {
  content: "\ead1";
}
.si-number_circle_zero:before {
  content: "\ead2";
}
.si-number_eight:before {
  content: "\ead3";
}
.si-number_five:before {
  content: "\ead4";
}
.si-number_four:before {
  content: "\ead5";
}
.si-number_nine:before {
  content: "\ead6";
}
.si-number_one:before {
  content: "\ead7";
}
.si-number_seven:before {
  content: "\ead8";
}
.si-number_six:before {
  content: "\ead9";
}
.si-number_square_eight:before {
  content: "\eada";
}
.si-number_square_five:before {
  content: "\eadb";
}
.si-number_square_four:before {
  content: "\eadc";
}
.si-number_square_nine:before {
  content: "\eadd";
}
.si-number_square_one:before {
  content: "\eade";
}
.si-number_square_seven:before {
  content: "\eadf";
}
.si-number_square_six:before {
  content: "\eae0";
}
.si-number_square_three:before {
  content: "\eae1";
}
.si-number_square_two:before {
  content: "\eae2";
}
.si-number_square_zero:before {
  content: "\eae3";
}
.si-number_three:before {
  content: "\eae4";
}
.si-number_two:before {
  content: "\eae5";
}
.si-number_zero:before {
  content: "\eae6";
}
.si-nut:before {
  content: "\eae7";
}
.si-octagon:before {
  content: "\eae8";
}
.si-package:before {
  content: "\eae9";
}
.si-paint_brush_broad:before {
  content: "\eaea";
}
.si-paint_bucket:before {
  content: "\eaeb";
}
.si-paper_plane_right:before {
  content: "\eaec";
}
.si-paper_plane_tilt:before {
  content: "\eaed";
}
.si-paper_plane:before {
  content: "\eaee";
}
.si-paperclip_horizontal:before {
  content: "\eaef";
}
.si-paperclip:before {
  content: "\eaf0";
}
.si-path:before {
  content: "\eaf1";
}
.si-pause_circle:before {
  content: "\eaf2";
}
.si-pause:before {
  content: "\eaf3";
}
.si-peace:before {
  content: "\eaf4";
}
.si-pedestrian:before {
  content: "\eaf5";
}
.si-pen_nib:before {
  content: "\eaf6";
}
.si-pen:before {
  content: "\eaf7";
}
.si-pencil_circle:before {
  content: "\eaf8";
}
.si-pencil_line:before {
  content: "\eaf9";
}
.si-pencil_simple:before {
  content: "\eafa";
}
.si-pencil:before {
  content: "\eafb";
}
.si-percent:before {
  content: "\eafc";
}
.si-phone_call:before {
  content: "\eafd";
}
.si-phone_disconnect:before {
  content: "\eafe";
}
.si-phone_incoming:before {
  content: "\eaff";
}
.si-phone_outgoing:before {
  content: "\eb00";
}
.si-phone_slash:before {
  content: "\eb01";
}
.si-phone_x:before {
  content: "\eb02";
}
.si-phone:before {
  content: "\eb03";
}
.si-phosphor_logo:before {
  content: "\eb04";
}
.si-play_circle:before {
  content: "\eb05";
}
.si-play:before {
  content: "\eb06";
}
.si-plus_circle:before {
  content: "\eb07";
}
.si-plus_minus:before {
  content: "\eb08";
}
.si-plus:before {
  content: "\eb09";
}
.si-poker_chip:before {
  content: "\eb0a";
}
.si-power:before {
  content: "\eb0b";
}
.si-printer:before {
  content: "\eb0c";
}
.si-prohibit_inset:before {
  content: "\eb0d";
}
.si-prohibit:before {
  content: "\eb0e";
}
.si-push_pin_slash:before {
  content: "\eb0f";
}
.si-push_pin:before {
  content: "\eb10";
}
.si-puzzle_piece:before {
  content: "\eb11";
}
.si-qr_code:before {
  content: "\eb12";
}
.si-question:before {
  content: "\eb13";
}
.si-radical:before {
  content: "\eb14";
}
.si-rainbow_cloud:before {
  content: "\eb15";
}
.si-rainbow:before {
  content: "\eb16";
}
.si-receipt:before {
  content: "\eb17";
}
.si-record:before {
  content: "\eb18";
}
.si-rectangle:before {
  content: "\eb19";
}
.si-reddit_logo:before {
  content: "\eb1a";
}
.si-repeat_once:before {
  content: "\eb1b";
}
.si-repeat:before {
  content: "\eb1c";
}
.si-rewind_circle:before {
  content: "\eb1d";
}
.si-rocket_launch:before {
  content: "\eb1e";
}
.si-rocket:before {
  content: "\eb1f";
}
.si-rows:before {
  content: "\eb20";
}
.si-rss_simple:before {
  content: "\eb21";
}
.si-rss:before {
  content: "\eb22";
}
.si-scissors:before {
  content: "\eb23";
}
.si-screencast:before {
  content: "\eb24";
}
.si-share_network:before {
  content: "\eb25";
}
.si-share:before {
  content: "\eb26";
}
.si-shield_check:before {
  content: "\eb27";
}
.si-shield_chevron:before {
  content: "\eb28";
}
.si-shield_slash:before {
  content: "\eb29";
}
.si-shield_warning:before {
  content: "\eb2a";
}
.si-shield:before {
  content: "\eb2b";
}
.si-shopping_bag_open:before {
  content: "\eb2c";
}
.si-shopping_bag:before {
  content: "\eb2d";
}
.si-shopping_cart_simple:before {
  content: "\eb2e";
}
.si-shopping_cart:before {
  content: "\eb2f";
}
.si-shuffle_angular:before {
  content: "\eb30";
}
.si-shuffle_simple:before {
  content: "\eb31";
}
.si-shuffle:before {
  content: "\eb32";
}
.si-sign_in:before {
  content: "\eb33";
}
.si-sign_out:before {
  content: "\eb34";
}
.si-sketch_logo:before {
  content: "\eb35";
}
.si-skip_back_circle:before {
  content: "\eb36";
}
.si-skip_back:before {
  content: "\eb37";
}
.si-skip_forward_circle:before {
  content: "\eb38";
}
.si-skip_forward:before {
  content: "\eb39";
}
.si-slack_logo:before {
  content: "\eb3a";
}
.si-sliders_horizontal:before {
  content: "\eb3b";
}
.si-sliders:before {
  content: "\eb3c";
}
.si-smiley_blank:before {
  content: "\eb3d";
}
.si-smiley_meh:before {
  content: "\eb3e";
}
.si-smiley_nervous:before {
  content: "\eb3f";
}
.si-smiley_sad:before {
  content: "\eb40";
}
.si-smiley_sticker:before {
  content: "\eb41";
}
.si-smiley_x_eyes:before {
  content: "\eb42";
}
.si-smiley:before {
  content: "\eb43";
}
.si-snowflake:before {
  content: "\eb44";
}
.si-sort_ascending:before {
  content: "\eb45";
}
.si-sort_descending:before {
  content: "\eb46";
}
.si-spade:before {
  content: "\eb47";
}
.si-speaker_high:before {
  content: "\eb48";
}
.si-speaker_low:before {
  content: "\eb49";
}
.si-speaker_none:before {
  content: "\eb4a";
}
.si-speaker_simple_high:before {
  content: "\eb4b";
}
.si-speaker_simple_low:before {
  content: "\eb4c";
}
.si-speaker_simple_none:before {
  content: "\eb4d";
}
.si-speaker_simple_slash:before {
  content: "\eb4e";
}
.si-speaker_simple_x:before {
  content: "\eb4f";
}
.si-speaker_slash:before {
  content: "\eb50";
}
.si-speaker_x:before {
  content: "\eb51";
}
.si-square_half:before {
  content: "\eb52";
}
.si-square:before {
  content: "\eb53";
}
.si-squares_four:before {
  content: "\eb54";
}
.si-stack_simple:before {
  content: "\eb55";
}
.si-stack:before {
  content: "\eb56";
}
.si-star:before {
  content: "\eb57";
}
.si-sticker:before {
  content: "\eb58";
}
.si-stop_circle:before {
  content: "\eb59";
}
.si-stop:before {
  content: "\eb5a";
}
.si-storefront:before {
  content: "\eb5b";
}
.si-suitcase_simple:before {
  content: "\eb5c";
}
.si-suitcase:before {
  content: "\eb5d";
}
.si-sun_dim:before {
  content: "\eb5e";
}
.si-sun_horizon:before {
  content: "\eb5f";
}
.si-sun:before {
  content: "\eb60";
}
.si-swatches:before {
  content: "\eb61";
}
.si-sword:before {
  content: "\eb62";
}
.si-table:before {
  content: "\eb63";
}
.si-tag_simple:before {
  content: "\eb64";
}
.si-tag:before {
  content: "\eb65";
}
.si-target:before {
  content: "\eb66";
}
.si-telegram_logo:before {
  content: "\eb67";
}
.si-terminal:before {
  content: "\eb68";
}
.si-text_align_center:before {
  content: "\eb69";
}
.si-text_align_justify:before {
  content: "\eb6a";
}
.si-text_align_left:before {
  content: "\eb6b";
}
.si-text_align_right:before {
  content: "\eb6c";
}
.si-text_bolder:before {
  content: "\eb6d";
}
.si-text_italic:before {
  content: "\eb6e";
}
.si-text_strikethrough:before {
  content: "\eb6f";
}
.si-text_t:before {
  content: "\eb70";
}
.si-text_underline:before {
  content: "\eb71";
}
.si-thermometer_cold:before {
  content: "\eb72";
}
.si-thermometer_hot:before {
  content: "\eb73";
}
.si-thermometer_simple:before {
  content: "\eb74";
}
.si-thermometer:before {
  content: "\eb75";
}
.si-thumbs_down:before {
  content: "\eb76";
}
.si-thumbs_up:before {
  content: "\eb77";
}
.si-ticket:before {
  content: "\eb78";
}
.si-timer:before {
  content: "\eb79";
}
.si-tote:before {
  content: "\eb7a";
}
.si-train_regional:before {
  content: "\eb7b";
}
.si-train_simple:before {
  content: "\eb7c";
}
.si-train:before {
  content: "\eb7d";
}
.si-translate:before {
  content: "\eb7e";
}
.si-trash_simple:before {
  content: "\eb7f";
}
.si-trash:before {
  content: "\eb80";
}
.si-tray:before {
  content: "\eb81";
}
.si-trend_down:before {
  content: "\eb82";
}
.si-trend_up:before {
  content: "\eb83";
}
.si-triangle:before {
  content: "\eb84";
}
.si-truck:before {
  content: "\eb85";
}
.si-twitch_logo:before {
  content: "\eb86";
}
.si-twitter_logo:before {
  content: "\eb87";
}
.si-upload_simple:before {
  content: "\eb88";
}
.si-upload:before {
  content: "\eb89";
}
.si-user_circle_gear:before {
  content: "\eb8a";
}
.si-user_circle_minus:before {
  content: "\eb8b";
}
.si-user_circle_plus:before {
  content: "\eb8c";
}
.si-user_circle:before {
  content: "\eb8d";
}
.si-user_gear:before {
  content: "\eb8e";
}
.si-user_minus:before {
  content: "\eb8f";
}
.si-user_plus:before {
  content: "\eb90";
}
.si-user_rectangle:before {
  content: "\eb91";
}
.si-user_square:before {
  content: "\eb92";
}
.si-user:before {
  content: "\eb93";
}
.si-users:before {
  content: "\eb94";
}
.si-vibrate:before {
  content: "\eb95";
}
.si-video_camera_slash:before {
  content: "\eb96";
}
.si-video_camera:before {
  content: "\eb97";
}
.si-voicemail:before {
  content: "\eb98";
}
.si-warning_circle:before {
  content: "\eb99";
}
.si-warning_octagon:before {
  content: "\eb9a";
}
.si-warning:before {
  content: "\eb9b";
}
.si-watch:before {
  content: "\eb9c";
}
.si-whatsapp_logo:before {
  content: "\eb9d";
}
.si-wheelchair:before {
  content: "\eb9e";
}
.si-wifi_high:before {
  content: "\eb9f";
}
.si-wifi_low:before {
  content: "\eba0";
}
.si-wifi_medium:before {
  content: "\eba1";
}
.si-wifi_none:before {
  content: "\eba2";
}
.si-wifi_slash:before {
  content: "\eba3";
}
.si-wifi_x:before {
  content: "\eba4";
}
.si-wind:before {
  content: "\eba5";
}
.si-wrench:before {
  content: "\eba6";
}
.si-x_circle:before {
  content: "\eba7";
}
.si-x_square:before {
  content: "\eba8";
}
.si-x:before {
  content: "\eba9";
}
.si-youtube_logo:before {
  content: "\ebaa";
}
