@import "static/css/queries.scss";

$header-and-footer-height: 350px;

.not-found-wrapper {
  min-height: calc(100vh - $header-and-footer-height);
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .message {
    font-family: var(--sub-title-font);
    color: var(--dark-blue-color);
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;

    @include medium-screen {
      font-size: 32px;
      line-height: 48px;
    }

    @include small-screen {
      font-size: 24px;
      line-height: 48px;
    }
  }

  .return-home-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;

    .return-icon {
      background-image: url("/static/resources/return-home-icon.svg");
      background-repeat: no-repeat;
      width: 35px;
      height: 35px;
    }
    
    a {
      color: var(--blue-color);
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
