@import "static/css/queries.scss";

$header-and-footer-height: 350px;

.not-found-wrapper {
  min-height: calc(100vh - $header-and-footer-height);
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .large-message {
    color: var(--dark-blue-color);
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 16px;

    @include medium-screen {
      font-size: 64px;
      line-height: 80px;
    }

    @include small-screen {
      font-size: 48px;
      line-height: 60px;
    }
  }

  .title {
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    color: #02143a;

    @include small-screen {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .error-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .error-illustration {
      position: absolute;
      width: 380px;
      margin-right: 20px;

      @include medium-screen {
        width: 238px;
      }

      @include small-screen {
        width: 166px;
      }
    }

    .error-code {
      font-weight: 1000;
      font-size: 500px;
      line-height: 628px;
      letter-spacing: 0.05em;
      color: #b7dfff;

      @include medium-screen {
        font-size: 340px;
        line-height: 428px;
      }

      @include small-screen {
        font-size: 180px;
        line-height: 226px;
      }
    }
  }

  .small-message {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #808fb0;

    @include medium-screen {
      font-size: 24px;
      line-height: 36px;
    }

    @include small-screen {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
