@import "static/css/queries.scss";

.document-container {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    position: relative;
    padding: 16px;

    @include small-screen {
        width: 80%;
    }
    @include medium-screen {
        width: 70%;
    }
    @include large-screen {
        width: 60%;
    }

    .page_name {
        text-align: center;
        color: var(--dark-blue-color);
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    ol {

        .title {
            font-weight: 700;
            font-size: 28px;
            line-height: 54px;
            color: var(--dark-blue-color);
            counter-reset: title;
            counter-reset: sub;
            margin-bottom: 32px;
            counter-increment: title;

            .subtitle {
                font-weight: 500;
                font-size: 18px;
                line-height: 36px;
                color: #2F2F2F;
                margin-top: 24px;
            }

            .subtitle::before {
                content: counter(title) "." counter(sub) ". ";
                counter-increment: sub;
                font-weight: 600;
                font-size: 22px;
                line-height: 28px;
                color: var(--dark-blue-color);
            }

        }
    }
}
