@import "queries.scss";

footer {
  background: #02143A;
  height: 250px;
  padding: 30px;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;

  @include medium-screen {
    position: relative;
    height: fit-content;
    padding: 27px 18px 100px;
  }

  @include small-screen {
    position: relative;
    height: fit-content;
    padding: 37px 18px 100px;
  }
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 40px auto;

  @include medium-screen {
    display: block;
    margin-top: 83px;
  }

  @include small-screen {
    display: block;
    margin-top: 90px;
  }

  .footer-about {

    @include medium-small-screen {
      text-align: center;
    }
    img {

      @include small-screen {
        content: url("/static/resources/logo_small.svg");
        width: 120px;
        height: 16px;
      }
    }

    .title {
      color: var(--blue-color);
      text-align: center;
    }
    .about-us {
      color: var(--gray-color);
      margin-top: 20px;

      @include medium-screen {
        margin-top: 28px;
      }

      @include small-screen {
        margin-top: 20px;
        font-size: 14px;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
      }

    }
  }
  .footer-center {

    .link-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      color: white;
      padding: 0 120px;

      @include medium-screen {
        position: absolute;
        padding: 0;
        top: 37px;
        left: 18px;
        right: 18px;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
      }

      @include small-screen {
        position: absolute;
        padding: 0;
        top: 27px;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 24px;
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
        text-align: center;
        font-weight: 700;
      }

      a {
        color: white;
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        &:link {
          text-decoration: underline;
        }
      }

      span {
        @include medium-small-screen {
          display: none;
        }
      }
    }
    .social-icons {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      width: 25%;
      margin: 30px auto;

      @include medium-small-screen {
        position: absolute;
        top: 370px;
        width: min(260px, 100vw);
        height: 50px;
        margin-left: max(calc(50vw - 148px), -18px);
        margin-top: 0;
      }
      li {
        border: 1px solid var(--blue-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        a {
          color: var(--blue-color);
          &:link {
            padding: 10px 15px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer-copyright {
    color: var(--gray-color);

    @include medium-screen {
      margin-top: 43px;
      text-align: center;
    }

    @include small-screen {
      margin-top: 54px;
      text-align: center;
    }

    .copyright{
      padding-bottom: 30px;

      @include medium-screen {
        padding-bottom: 18px;
      }

      @include small-screen {
        padding-bottom: 8px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
