footer {
  background: #02143a;
  height: 250px;
  padding: 30px;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  footer {
    position: relative;
    height: fit-content;
    padding: 27px 18px 100px;
  }
}
@media screen and (max-width: 843px) {
  footer {
    position: relative;
    height: fit-content;
    padding: 1px 18px 100px;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 40px auto;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .footer-container {
    display: block;
    margin-top: 83px;
  }
}
@media screen and (max-width: 843px) {
  .footer-container {
    display: block;
    margin-top: 90px;
  }
}
@media screen and (max-width: 1280px) {
  .footer-container .footer-about {
    text-align: center;
  }
}
@media screen and (max-width: 843px) {
  .footer-container .footer-about img {
    content: url("/static/resources/logo_small.svg");
    width: 120px;
    height: 16px;
  }
}
.footer-container .footer-about .title {
  color: var(--blue-color);
  text-align: center;
}
.footer-container .footer-about .about-us {
  color: var(--gray-color);
  margin-top: 20px;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .footer-container .footer-about .about-us {
    margin-top: 28px;
  }
}
@media screen and (max-width: 843px) {
  .footer-container .footer-about .about-us {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
  }
}
.footer-container .footer-center .link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  max-width: 848px;
  margin: auto;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .footer-container .footer-center .link-container {
    position: absolute;
    padding: 0;
    top: 37px;
    left: 18px;
    right: 18px;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
  }
}
@media screen and (max-width: 843px) {
  .footer-container .footer-center .link-container {
    position: absolute;
    padding: 0;
    top: 27px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
  }
}
.footer-container .footer-center .link-container a {
  color: white;
  flex-basis: 0;
  min-width: fit-content;
  text-align: center;
}
.footer-container .footer-center .link-container a:link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1280px) {
  .footer-container .footer-center .link-container span {
    display: none;
  }
}
.footer-container .footer-center .social-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
@media screen and (max-width: 1280px) {
  .footer-container .footer-center .social-icons {
    position: absolute;
    top: 350px;
    width: min(260px, 100vw);
    height: 50px;
    margin-left: max(50vw - 148px, -18px);
    margin-top: 0;
  }
}
.footer-container .footer-center .social-icons li {
  border: 1px solid var(--blue-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.footer-container .footer-center .social-icons li a {
  color: var(--blue-color);
}
.footer-container .footer-center .social-icons li a:link {
  padding: 10px 15px;
  text-decoration: none;
}
.footer-container .footer-copyright {
  color: var(--gray-color);
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .footer-container .footer-copyright {
    margin-top: 43px;
    text-align: center;
  }
}
@media screen and (max-width: 843px) {
  .footer-container .footer-copyright {
    margin-top: 50px;
    text-align: center;
  }
}
.footer-container .footer-copyright .copyright {
  padding-bottom: 30px;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .footer-container .footer-copyright .copyright {
    padding-bottom: 18px;
  }
}
@media screen and (max-width: 843px) {
  .footer-container .footer-copyright .copyright {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=footer.css.map */
