header {
    background: var(--dark-blue-color);
    position: static;

    .header-container {
        a {
        color: white;
        font-size: 18px;
        }
        nav {
        ul {
            li {
            display: flex;
            align-items: center;
            }
        }
        button {
            font-size: 14px;
            font-weight: bold;
            &.sign-in {
            color: white;
            margin: 0 15px;
            }
            &.sign-up {
            padding: 15px 40px;
            }
        }
        }
        #right-wrapper {
            height: 100%;
            margin-right: 10px;
            position: relative;
            li {
                margin: 0;
                .search-btn {
                    color: white;
                    font-size: 22px;
                    padding: 0 10px;
                    margin: 0 15px;
                    background: none;
                }
                .search-btn-active {
                    color: var(--gray-color);
                    font-size: 32px;
                    position: absolute;
                    top: -30px;
                    left: -110px;
                    width: 100px;
                    height: 100px;
                    background-color: white;
                }
            }
        }
    }
}

#search-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 100px;
    z-index: 2;
    background: none;

    form {
        width: 100%;
        height: 200px;
        padding: 0 173px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: white;

        button {
            margin-right: 30px;
            font-size: 22px;
            color: var(--dark-blue-color);
        }

        .fa-times-circle {
            margin-left: auto;
            font-size: 32px;
            color: var(--gray-color);
        }
    }
    #search-field {
        margin: 0;
        border: none;
        font-size: 24px;
        color: var(--dark-blue-color);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
