header {
  height: 100px;
  padding: 26px;
  background: var(--dark-blue-color);
  box-sizing: border-box;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header {
    padding: 0 30px 0 30px;
  }
}
@media screen and (max-width: 843px) {
  header {
    padding: 0 15px 0 15px;
  }
}
header .header-container {
  display: grid;
  grid-template-columns: 40% auto;
}
header .header-container > a {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  header .header-container {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
}
header .header-container .header-logo {
  background-image: url("/static/resources/logo_white.svg");
  background-repeat: no-repeat;
  height: 31px;
  width: 236px;
}
@media screen and (max-width: 843px) {
  header .header-container .header-logo {
    height: 18px;
    width: 50px;
    background-image: url("/static/resources/logo_white_extra_small.svg");
  }
}
header .header-container a {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container a {
    height: fit-content;
  }
}
header .header-container nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  header .header-container nav {
    justify-content: end;
    width: 100%;
  }
}
header .header-container nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul:first-child {
    position: absolute;
    display: block;
    left: -300px;
    top: 100px;
    height: 170px;
    background: white;
    z-index: 100;
    box-shadow: 2px 2px 10px 1px var(--gray-color);
  }
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav ul:first-child li {
    margin: 10px 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav ul:first-child li {
    margin: 10px 15px;
  }
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul:first-child li a {
    color: black;
    width: 100%;
    display: inline-block;
    padding: 0;
  }
}
header .header-container nav ul li {
  margin: 0 10px;
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul li {
    margin: 0;
  }
}
header .header-container nav a {
  cursor: pointer;
  padding: 10px;
}
header .header-container nav a.sign-in {
  background: none;
  border: none;
  margin: 0;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav a.sign-in {
    color: black;
    position: absolute;
    left: -300px;
    top: 210px;
    z-index: 100;
    padding-left: 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-in {
    color: black;
    position: absolute;
    left: -300px;
    top: 210px;
    z-index: 100;
    padding-left: 15px;
  }
}
header .header-container nav a.sign-up {
  background: var(--blue-color);
  border: none;
  border-radius: 5px;
  color: white;
  width: 147px;
  height: 48px;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-up {
    font-weight: 700;
  }
}
header .header-container nav #account-dropdown {
  display: flex;
  align-items: center;
  margin-right: 0;
}
header .header-container nav #account-dropdown .profile-link {
  padding: 0;
}
header .header-container nav #account-dropdown #account-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: var(--gray-color);
  border-radius: 50%;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-container nav #account-dropdown #account-icon .place-holder {
  background-image: url("/static/resources/user_placeholder.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: auto;
  padding: auto;
}
header .header-container nav #account-dropdown #account-dropdown-toggle {
  height: 24px;
  width: 24px;
  color: white;
  cursor: pointer;
}
header .header-container nav #account-dropdown #account-dropdown-list {
  display: none;
  width: 230px;
  height: auto;
  position: absolute;
  right: 30px;
  top: 80px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 6px;
}
header .header-container nav #account-dropdown #account-dropdown-list li {
  height: fit-content;
  width: 100%;
  padding: 8px;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
header .header-container nav #account-dropdown #account-dropdown-list li a {
  display: block;
  padding: 5px;
  color: var(--dark-blue-color);
  width: 198px;
}
header .header-container nav #account-dropdown #account-dropdown-list li:hover {
  background-color: #7086B2;
}
header .header-container #right-wrapper {
  height: 100%;
}
header .header-container #right-wrapper li {
  height: 100%;
  display: flex;
}
header .header-container #right-wrapper li .search-btn {
  color: white;
  font-size: 22px;
  padding: 0 10px;
  margin: 0 8px;
  background: none;
  cursor: pointer;
  height: 100%;
}
header .header-container #right-wrapper li .search-btn #search-btn-icon {
  height: 24px;
  width: 24px;
}
header .header-container #right-wrapper li .search-btn-active {
  color: var(--gray-color);
  font-size: 32px;
  position: absolute;
  top: 0px;
  right: 140px;
  width: 100px;
  height: 100px;
  background-color: white;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  header .header-container #right-wrapper li .search-btn-active {
    color: white;
    font-size: 22px;
    padding: 0 10px;
    margin: 0 15px;
    right: 120px;
    background: none;
  }
}

#search-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 100px;
  z-index: 99;
  background: none;
}
#search-bar form {
  width: 100%;
  height: 200px;
  padding: 0 173px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  #search-bar form {
    height: 100px;
    padding: 12px 27px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 843px) {
  #search-bar form {
    height: 80px;
    padding: 15px 22px;
    justify-content: space-between;
  }
}
#search-bar form button {
  margin-right: 30px;
  font-size: 22px;
  color: var(--dark-blue-color);
  cursor: pointer;
}
#search-bar form .fa-times-circle {
  margin-left: auto;
  font-size: 32px;
  color: var(--gray-color);
  cursor: pointer;
}
#search-bar #search-field {
  margin: 0;
  border: none;
  font-size: 24px;
  color: var(--dark-blue-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*# sourceMappingURL=header_dark.css.map */
