header {
  height: 100px;
  padding: 30px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header {
    padding: 0 30px 0 0;
  }
}
@media screen and (max-width: 843px) {
  header {
    padding: 0 15px 0 0;
  }
}
header .header-container {
  display: grid;
  grid-template-columns: 40% auto;
}
@media screen and (max-width: 1280px) {
  header .header-container {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
}
header .header-container .menu-nav {
  display: none;
  background-image: url("/static/resources/icon-dashboard.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 26px;
}
header .header-container .menu-nav:hover {
  cursor: pointer;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container .menu-nav {
    display: block;
    flex-shrink: 0;
    margin: 0 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container .menu-nav {
    display: block;
    flex-shrink: 0;
    margin: 0 15px;
  }
}
header .header-container .header-logo {
  background-image: url("/static/resources/logo.svg");
  background-repeat: no-repeat;
  height: 31px;
  width: 236px;
}
@media screen and (max-width: 843px) {
  header .header-container .header-logo {
    height: 18px;
    width: 50px;
    background-image: url("/static/resources/logo_extra_small.svg");
  }
}
header .header-container .sub-title {
  font-weight: bold;
  font-size: 2rem;
}
header .header-container a {
  color: var(--dark-blue-color);
  text-decoration: none;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container a {
    height: fit-content;
  }
}
header .header-container nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  header .header-container nav {
    justify-content: end;
    width: 100%;
  }
}
header .header-container nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul:first-child {
    position: absolute;
    display: block;
    left: -300px;
    top: 100px;
    height: 110px;
    background: white;
    z-index: 100;
  }
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav ul:first-child li {
    margin: 0 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav ul:first-child li {
    margin: 0 5px;
  }
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav ul:first-child li a {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
}
header .header-container nav ul li {
  margin: 0 10px;
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul li {
    margin: 0;
  }
}
header .header-container nav a {
  cursor: pointer;
  padding: 10px;
}
header .header-container nav a.sign-in {
  background: none;
  border: none;
  margin: 0;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav a.sign-in {
    position: absolute;
    left: 0;
    top: 170px;
    z-index: 100;
    display: none;
    padding-left: 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-in {
    position: absolute;
    left: 0;
    top: 170px;
    z-index: 100;
    display: none;
    padding-left: 15px;
  }
}
header .header-container nav a.sign-up {
  background: var(--blue-color);
  border: none;
  border-radius: 5px;
  color: white;
  width: 147px;
  height: 48px;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-up {
    font-weight: 700;
  }
}
header .header-search-overlay {
  display: none;
}
header.dark {
  background: var(--dark-blue-color);
}
header.dark .header-logo {
  background-image: url("/static/resources/logo_white.svg");
}
header.dark a {
  color: white;
  text-decoration: none;
}
header.dark nav .search_icon {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("/static/resources/white_search_icon.svg");
  margin-right: 4px;
  cursor: pointer;
}
header.dark nav button.sign-in {
  color: white;
}
header.dark nav button.sign-up {
  color: white;
}
header.dark .header-search-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(2, 20, 58, 0.8);
  z-index: 1;
}
header.dark .header-search-overlay .header-search-overlay-container {
  background-color: white;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content {
  max-width: 1574px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-overlay-icon {
  background-image: url("/static/resources/search_icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  margin-right: 25px;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-input {
  font-size: 24px;
  margin-bottom: 0;
  color: var(--dark-blue-color);
  border: none;
  outline: none;
  box-shadow: none;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-overlay-close {
  background-image: url("/static/resources/round_close_icon.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  margin-left: 25px;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
