header {
  height: 100px;
  padding: 30px;
  background: white;
  box-sizing: border-box;
  display: flex;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header {
    padding: 0 30px 0 30px;
  }
}
@media screen and (max-width: 843px) {
  header {
    padding: 0 15px 0 15px;
  }
}
header .header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  header .header-container {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
}
header .header-container .header-logo-container {
  display: flex;
  align-items: center;
}
header .header-container .header-logo-container .header-logo {
  background-image: url("/static/resources/logo.svg");
  background-repeat: no-repeat;
  height: 31px;
  width: 236px;
}
@media screen and (max-width: 843px) {
  header .header-container .header-logo-container .header-logo {
    height: 18px;
    width: 50px;
    background-image: url("/static/resources/logo_extra_small.svg");
  }
}
header .header-container .sub-title {
  font-weight: bold;
  font-size: 2rem;
}
header .header-container a {
  color: var(--dark-blue-color);
  text-decoration: none;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container a {
    height: fit-content;
  }
}
header .header-container nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  header .header-container nav {
    justify-content: end;
    width: 100%;
  }
}
header .header-container nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  header .header-container nav ul:first-child {
    position: absolute;
    display: block;
    left: -300px;
    top: 100px;
    width: 150px;
    height: 60px;
    background: white;
    z-index: 100;
  }
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav ul:first-child li {
    margin: 0 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav ul:first-child li {
    margin: 0 5px;
  }
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav ul:first-child li a {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
}
header .header-container nav ul li {
  margin: 0 10px;
}
header .header-container nav a {
  cursor: pointer;
  padding: 10px;
}
header .header-container nav a.sign-in {
  background: none;
  border: none;
  margin: 0;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  header .header-container nav a.sign-in {
    padding-left: 30px;
  }
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-in {
    padding-left: 15px;
  }
}
header .header-container nav a.sign-up {
  background: var(--blue-color);
  border: none;
  border-radius: 5px;
  color: white;
  width: 147px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 843px) {
  header .header-container nav a.sign-up {
    font-weight: 700;
  }
}
header .header-container nav #account-dropdown {
  display: flex;
  align-items: center;
  margin-right: 0;
}
header .header-container nav #account-dropdown .profile-link {
  padding: 0;
}
header .header-container nav #account-dropdown #account-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background-color: var(--gray-color);
  border-radius: 50%;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-container nav #account-dropdown #account-icon .place-holder {
  background-image: url("/static/resources/user_placeholder.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin: auto;
  padding: initial;
}
header .header-container nav #account-dropdown #account-dropdown-toggle {
  height: 24px;
  width: 24px;
  color: white;
  cursor: pointer;
}
header .header-container nav #account-dropdown #account-dropdown-list {
  display: none;
  width: 230px;
  height: auto;
  position: absolute;
  right: 30px;
  top: 80px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 6px;
}
header .header-container nav #account-dropdown #account-dropdown-list li {
  height: fit-content;
  width: 100%;
  padding: 8px;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
header .header-container nav #account-dropdown #account-dropdown-list li form {
  width: 100%;
}
header .header-container nav #account-dropdown #account-dropdown-list li a {
  display: block;
  padding: 5px;
  color: var(--dark-blue-color);
}
header .header-container nav #account-dropdown #account-dropdown-list li:hover {
  background-color: #7086B2;
}
header .header-search-overlay {
  display: none;
}
header.dark {
  background: var(--dark-blue-color);
}
header.dark .header-logo {
  background-image: url("/static/resources/logo_white.svg");
}
header.dark a {
  color: white;
  text-decoration: none;
}
header.dark nav .search_icon {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("/static/resources/white_search_icon.svg");
  margin-right: 4px;
  cursor: pointer;
}
header.dark nav button.sign-in {
  color: white;
}
header.dark nav button.sign-up {
  color: white;
}
header.dark .header-search-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(2, 20, 58, 0.8);
  z-index: 1;
}
header.dark .header-search-overlay .header-search-overlay-container {
  background-color: white;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content {
  max-width: 1574px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-overlay-icon {
  background-image: url("/static/resources/search_icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  margin-right: 25px;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-input {
  font-size: 24px;
  margin-bottom: 0;
  color: var(--dark-blue-color);
  border: none;
  outline: none;
  box-shadow: none;
}
header.dark .header-search-overlay .header-search-overlay-container .header-search-overlay-content .header-search-overlay-close {
  background-image: url("/static/resources/round_close_icon.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
  margin-left: 25px;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
