@import "queries.scss";

header {
  height: 100px;
  padding: 30px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  @include medium-screen {
    padding: 0 30px 0 0;
  }

  @include small-screen {
    padding: 0 15px 0 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;

    @include medium-small-screen {
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
    }

    .menu-nav {
      display: none;
      background-image: url('/static/resources/icon-dashboard.svg');
      background-repeat: no-repeat;
      width: 40px;
      height: 26px;

      &:hover {
        cursor: pointer;
      }

      @include medium-screen {
        display: block;
        flex-shrink: 0;
        margin: 0 30px;
      }

      @include small-screen {
        display: block;
        flex-shrink: 0;
        margin: 0 15px;
      }
    }
    .header-logo-container{
      display: flex;
      align-items: center;
      .header-logo {
        background-image: url('/static/resources/logo.svg');
        background-repeat: no-repeat;
        height: 31px;
        width: 236px;

        @include small-screen {
          height: 18px;
          width: 50px;
          background-image: url('/static/resources/logo_extra_small.svg');
        }
      }
    }

    .sub-title {
      font-weight: bold;
      font-size: 2rem;
    }

    a {
      color: var(--dark-blue-color);
      text-decoration: none;

      @include medium-screen {
        height: fit-content;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;

      @include medium-small-screen {
        justify-content: end;
        width: 100%;
      }

      ul {
        list-style-type: none;
        margin: 0;
        display: flex;
        align-items: center;

        &:first-child {

          @include medium-small-screen {
            position: absolute;
            display: block;
            left: -300px;
            top: 100px;
            width: 150px;
            height: 60px;
            background: white;
            z-index: 100;
          }

          li {

            @include medium-screen {
              margin: 0 30px;
            }

            @include small-screen {
              margin: 0 5px;
            }
            a {
              @include medium-screen {
                width: 100%;
                display: inline-block;
                padding: 0;
              }
            }
          }
        }
        li {
          margin: 0 10px;

          @include medium-small-screen {
            margin: 0;
          }
        }
      }

      a {
        cursor: pointer;
        padding: 10px;

        &.sign-in {
          background: none;
          border: none;
          margin: 0;
          color: var(--dark-blue-color);

          @include medium-screen {
            position: absolute;
            left: -300px;
            top: 100px;
            z-index: 100;
            padding-left: 30px;
          }

          @include small-screen {
            position: absolute;
            left: -300px;
            top: 100px;
            z-index: 100;
            padding-left: 15px;
          }
        }
        &.sign-up {
          background: var(--blue-color);
          border: none;
          border-radius: 5px;
          color: white;
          width: 147px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          @include small-screen {
            font-weight: 700;
          }
        }
      }
    }
  }

  .header-search-overlay {
    display: none;
  }

  &.dark {
    background: var(--dark-blue-color);

    .header-logo {
      background-image: url('/static/resources/logo_white.svg');
    }

    a {
      color: white;
      text-decoration: none;
    }

    nav {
      .search_icon {
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-image: url("/static/resources/white_search_icon.svg");
        margin-right: 4px;
        cursor: pointer;
      }

      button {
        &.sign-in {
          color: white;
        }

        &.sign-up {
          color: white;
        }
      }
    }

    .header-search-overlay {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(2, 20, 58, 0.8);
      z-index: 1;

      .header-search-overlay-container {
        background-color: white;

        .header-search-overlay-content {
          max-width: 1574px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          padding: 20px 0;

          .header-search-overlay-icon {
            background-image: url('/static/resources/search_icon.svg');
            background-repeat: no-repeat;
            width: 24px;
            height: 22px;
            margin-right: 25px;
          }

          .header-search-input {
            font-size: 24px;
            margin-bottom: 0;
            color: var(--dark-blue-color);
            border: none;
            outline: none;
            box-shadow: none;
          }

          .header-search-overlay-close {
            background-image: url('/static/resources/round_close_icon.svg');
            background-repeat: no-repeat;
            width: 26px;
            height: 24px;
            margin-left: 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
