@import "./queries.scss";

.home-container {
  background: var(--dark-blue-color);
  padding: 120px 20% 0 20%;
  text-align: center;
  overflow: scroll;
  box-sizing: border-box;

  @include medium-screen {
    padding: 70px 16px max(74px, calc(100vh - 1061px));
  }

  @include small-screen {
    padding: 32px 16px max(62px, calc(100vh - 1028px));
  }

  .subtitle {
    font-family: var(--sub-title-font);
    color: white;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;

    @include medium-screen {
      font-size: 32px;
      line-height: 48px;
    }

    @include small-screen {
      font-size: 24px;
      line-height: 48px;
    }
  }
  .search-container {
    width: 100%;
    margin-top: 50px;

    @include medium-screen {
      margin-top: 32px;
    }

    @include small-screen {
      margin-top: 22px;
    }

    #search-bar::placeholder {

      @include small-screen {
        text-align: start;
        color: var(--dark-blue-color);
      }
    }

    .button {
      float: left;
      padding: 16px;
      border: none;
      cursor: pointer;
      background: white;
      &:hover {
        background: #ccc;
      }
    }
  }
  .stat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: 70px auto;
    text-align: center;
    font-size: 1.2rem;

    @include medium-screen {
      margin-top: 75px;
      margin-bottom: 35px;
    }

    @include small-screen {
      margin: 40px auto 24px;
      width: 100%;
    }

    .stat-package {
      border-right: 2px solid var(--blue-color);
    }
    .stat-no {
      font-weight: bold;
      color: #fff;
      margin-bottom: 5px;
      font-size: 32px;
      line-height: 36px;

      @include small-screen {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .stat-name {
      color: var(--blue-color);
      font-size: 24px;
      line-height: 36px;
    }
  }
  .social-container {
    color: var(--gray-color);
    display: flex;
    flex-direction: column;

    .social-subtitle {
      font-size: 18px;
      line-height: 54px;

      @include small-screen {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
    .social-icons {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      @include small-screen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
      }
      li {
        border: 1px solid var(--blue-color);
        border-radius: 5px;
        a {
          color: var(--gray-color);

          &:link {
            padding: 0;
            text-decoration: none;
          }
        }
      }
      li:not(:last-child) {
        margin-right: 20px;

        @include small-screen {
          margin-right: 0;
        }
      }
    }
  }
}
