:root {
  --blue-color: #44A1E7;
  --gray-color: #808FB0;
  --dark-blue-color: #001F60;
  --rose-color: #ffe4e6;
  --dark-rose-color: #e11d48;
  --geyser-color: #D9DDE7;
  --gray-background-color: #F2F4F7;
  --cool-gray: #f8f9fb;
  --cool-gray-700: #374151;
  --sub-title-font: 'Syncopate', sans-serif;
  --blue-color-hover: #48A8F0;
  --gray-color-hover: rgba(134, 145, 171, 0.95);
  --green-color-hover: #E5FFED; 
  font-family: 'Mulish', sans-serif;
}
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  position: relative;
}

.icon{
  border: 0;
  padding: 0;
  display: flex;
}
.icon.flex{
  border: 0;
  padding: 0;
  display: flex;
  width: min(120px, 50vw - 24px);
  height: 40px;
}
.select2-container--default .select2-results>.select2-results__options {
  max-height: unset !important;
}
.flex{
  display: flex;
}
.hide {
  display: none;
}