body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Map.png);
    background-color: var(--cool-gray);
    background-position-y: -15rem;

    .logo {
        content: url(../resources/movey_logo.svg);
        color: var(--dark-blue-color);
        font-weight: 900;
        font-size: xx-large;
        padding: 2rem 3rem;
        background-color: transparent;
    }

    .form-wrapper::before {
        content: url(../resources/large_curve.svg);
        position: fixed;
        left: 57vw;
        top: 3vh;
    }

    .form-wrapper::after {
        content: url(../resources/small_curve.svg);
        position: fixed;
        left: 25vw;
        bottom: 11vh;
    }

    .form-wrapper {
        .email-form {
            position: relative;
            z-index: 99;
            background-color: white;
            width: 25%;
            min-width: 450px;
            height: fit-content;
            padding: 1.5rem 3rem;
            margin: 10vh auto;
        }

        h1 {
            font-family: var(--sub-title-font);
            color: var(--blue-color);
            margin-bottom: 2rem;
        }
        
        #description {
            margin-top: 3rem;
            margin-bottom: 1rem;       

            p {
                width: fit-content;
                font-size: large;
                line-height: 1.5rem;
                margin: 0;
                background: white;
                padding: 0;
            }

            p.light {
                color: var(--gray-color);
            }

            p.dark {
                color: var(--dark-blue-color);
            }
        }

        .submit-btn {
            width: 100%;
            padding: .75rem;
            margin: 1.5rem 0;
            border-radius: 4px;
            border: none;
            background-color: var(--blue-color);
            color: white;
            font-size: large;
            cursor: pointer;
        }

        .submit-btn:disabled {
            background-color: var(--geyser-color);
            color: var(--gray-color);
        }

        form {
            font-size: large;
            .input-wrapper{
                position: relative;
            }

            .usr-input-label {
                display: inline-block;
                font-weight: 500;
                color: var(--dark-blue-color);
                margin-top: 1rem;
            }

            .usr-input {
                display: block;
                box-sizing: border-box;
                width: 100%;
                margin: .5rem 0;
                padding: 0.375rem 0.75rem;
                font-family: inherit;
                font-size: large;
                font-weight: 400;
                line-height: 1.5;
                color: var(--dark-blue-color);
                background-clip: padding-box;
                border: 1px solid var(--cool-gray);
                box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 4px;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                &:focus {
                    color: var(--dark-blue-color);
                    border-color: #86b7fe;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
                }
            }

            .error {
                color: var(--blue-color);
                margin-bottom: 1rem;
            }

            .toggle-icon {
                position: absolute;
                right: 0;
                bottom: 13px;
                padding-right: 10px;
                cursor: pointer;
            }
        }

        #signin-invitation {
            text-decoration: none;
            line-height: 1.5rem;
            color: var(--blue-color);
        }
    }
}
