body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/static/img/Map.png);
  background-color: var(--cool-gray);
  background-position-y: -15rem;
}
body .logo {
  content: url(/static/resources/movey_logo.svg);
  color: var(--dark-blue-color);
  font-weight: 900;
  font-size: xx-large;
  padding: 2rem 3rem;
  background-color: transparent;
}
body .form-wrapper::before {
  content: url(/static/resources/large_curve.svg);
  position: fixed;
  left: 57vw;
  top: 3vh;
}
body .form-wrapper::after {
  content: url(/static/resources/small_curve.svg);
  position: fixed;
  left: 25vw;
  bottom: 11vh;
}
body .form-wrapper .email-form {
  position: relative;
  z-index: 99;
  background-color: white;
  width: 35%;
  min-width: 320px;
  height: fit-content;
  padding: 1.5rem 3rem;
  margin: 10vh auto;
  max-width: 600px;
}
body .form-wrapper h1 {
  font-family: var(--sub-title-font);
  color: var(--blue-color);
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
body .form-wrapper #description {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
body .form-wrapper #description p {
  width: fit-content;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  background: white;
  padding: 0;
  font-weight: 400;
}
body .form-wrapper #description p.light {
  color: var(--gray-color);
}
body .form-wrapper #description p.dark {
  color: var(--dark-blue-color);
  margin-bottom: 8px;
}
body .form-wrapper .redirect {
  font-size: 20px;
  line-height: 1.5rem;
  margin-top: 8px;
  text-decoration: underline;
}
body .form-wrapper .submit-btn {
  width: 100%;
  padding: 0.75rem;
  margin: 1.5rem 0;
  border-radius: 4px;
  border: none;
  background-color: var(--blue-color);
  color: white;
  font-size: large;
  cursor: pointer;
}
body .form-wrapper .submit-btn:disabled {
  background-color: var(--geyser-color);
  color: var(--gray-color);
}
body .form-wrapper form {
  font-size: large;
}
body .form-wrapper form .input-wrapper {
  position: relative;
}
body .form-wrapper form .usr-input-label {
  display: inline-block;
  font-weight: 500;
  color: var(--dark-blue-color);
  margin-top: 1rem;
}
body .form-wrapper form .usr-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: large;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-blue-color);
  background-clip: padding-box;
  border: 1px solid var(--cool-gray);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body .form-wrapper form .usr-input:focus {
  color: var(--dark-blue-color);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
body .form-wrapper form .error {
  color: var(--blue-color);
  margin-bottom: 1rem;
}
body .form-wrapper form .toggle-icon {
  position: absolute;
  right: 0;
  bottom: 13px;
  padding-right: 10px;
  cursor: pointer;
}
body .form-wrapper #signin-invitation {
  text-decoration: none;
  line-height: 1.5rem;
  color: var(--blue-color);
}

/*# sourceMappingURL=reset_password.css.map */
