@import "static/css/queries.scss";

$header-and-footer-height: 350px;
body {
  background-color: #E9F5FE;
  width: 100%;

  .not-found-wrapper {
    min-height: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap; 
  
    .title {
      font-weight: 900;
      font-size: 64px;
      line-height: 80px;
      color: var(--dark-blue-color);
  
      @include medium-screen {
        font-size: 64px;
        line-height: 80px;
      }
  
      @include small-screen {
        font-size: 48px;
        line-height: 60px;
      }
    }
  
    .message {
      color: var(--gray-color);
      font-weight: 300;
      font-size: 36px;
      line-height: 48px;
      width: fit-content;

      &.sub{
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin-top: 16px;

        @include medium-screen {
          font-size: 22px;
          line-height: 32px;
        }
    
        @include small-screen {
          width: 342px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      @include medium-screen {
        font-size: 24px;
        line-height: 32px;
      }
  
      @include small-screen {
        font-size: 22px;
        line-height: 36px;
      }
    }

    .image {
        background-image: url("/static/resources/503-page.svg");
        background-repeat: no-repeat;
        width: 975px;
        height: 415px;
        background-size: contain;
        
        @include medium-screen {
          width: 600px;
          height: 292px;
        }
    
        @include small-screen {
          width: 342px;
          height: 180px;
        }
    }

    .return-home-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 96px;
      cursor:pointer;

      .return-icon {
        background-image: url("/static/resources/refresh-icon.svg");
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
      }
      .links {
        color: var(--blue-color);
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-transform: capitalize;
        margin: 0;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
}
