.content-wrapper {
  min-height: calc(100vh - 350px);
}
.content-wrapper .setting-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-bottom: 1px solid rgba(128, 143, 176, 0.5);
}
@media screen and (min-width: 769px) {
  .content-wrapper .setting-bar {
    padding: 0 50px 0 175px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper .setting-bar {
    padding: 0 15px 0 15px;
    box-shadow: 0px 4px 8px rgba(2, 20, 58, 0.1);
  }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  .content-wrapper .setting-bar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.content-wrapper .setting-bar p {
  font-size: 24px;
  color: var(--dark-blue-color);
  white-space: nowrap;
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper .setting-bar p {
    font-size: 16px;
  }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  .content-wrapper .setting-bar p {
    margin: 33px 0 13px 0;
  }
}
.content-wrapper .setting-bar p a {
  color: var(--blue-color);
  font-style: italic;
  text-decoration: underline;
}
.content-wrapper #package-list-container {
  width: 100%;
  padding: 70px 175px 265px;
}
@media screen and (max-width: 1280px) {
  .content-wrapper #package-list-container {
    padding: 70px 120px 265px;
  }
}
@media screen and (max-width: 860px) {
  .content-wrapper #package-list-container {
    padding: 70px 80px 265px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container {
    padding: 30px 0 70px 0;
  }
}
.content-wrapper #package-list-container .package-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list {
    margin-bottom: 10px;
  }
}
.content-wrapper #package-list-container .package-list .package-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 0px auto 20px auto;
  border-bottom: 1px solid rgba(128, 143, 176, 0.5);
  height: 164px;
  padding: 12px;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .package-list-item {
    height: 135px;
    padding-bottom: 20px;
  }
  .content-wrapper #package-list-container .package-list .package-list-item:hover {
    background-color: #FBFBFB;
    background: rgba(68, 161, 231, 0.1);
  }
  .content-wrapper #package-list-container .package-list .package-list-item:hover .left-wrapper .package-list-item-title .package-title a {
    transition: color 100ms;
    color: #44A1E7;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item {
    height: 150px;
    padding: 0 33px 20px 16px;
    flex-direction: column;
  }
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  .content-wrapper #package-list-container .package-list .package-list-item {
    padding-right: 0;
  }
}
.content-wrapper #package-list-container .package-list .package-list-item .left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .package-list-item .left-wrapper {
    width: 70%;
    height: 100%;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item .left-wrapper {
    width: 100%;
    height: 92px;
  }
}
.content-wrapper #package-list-container .package-list .package-list-item .right-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper {
    width: 30%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}
.content-wrapper #package-list-container .package-list .package-list-item .right-wrapper .update-timestamp {
  color: var(--gray-color);
  display: flex;
  align-items: center;
}
.content-wrapper #package-list-container .package-list .package-list-item .right-wrapper .update-timestamp img {
  margin-right: 5px;
}
.content-wrapper #package-list-container .package-list .package-list-item .right-wrapper .download-count {
  color: var(--dark-blue-color);
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.content-wrapper #package-list-container .package-list .package-list-item .right-wrapper .download-count img {
  margin-right: 5px;
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper .download-count {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper img {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper div {
    font-size: 24px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .package-list-item .right-wrapper div {
    width: 100%;
    font-size: 16px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title {
    height: 55px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title {
    height: 36px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title, .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title a {
  font-weight: bold;
  color: var(--dark-blue-color);
  margin: 0 20px 0 0;
  max-width: 60%;
  white-space: nowrap;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title, .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title a {
    font-size: 32px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title, .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .package-title a {
    font-size: 24px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .version-number {
  font-weight: normal;
  color: var(--gray-color);
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .version-number {
    font-size: 24px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .version-number {
    font-size: 16px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .title-tag {
  background-color: #FCDDEC;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  color: var(--dark-blue-color);
  margin-bottom: auto;
  max-width: 30%;
  overflow-x: clip;
  text-overflow: ellipsis;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .title-tag {
    font-size: 16px;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-list-item-title .title-tag {
    height: 28px;
    font-size: 14px;
    padding: 4px 8px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .sub-tag-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
}
.content-wrapper #package-list-container .package-list .left-wrapper .sub-tag-list .sub-tag {
  background-color: var(--geyser-color);
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .sub-tag-list .sub-tag {
    padding: 4px 10px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .sub-tag-list .sub-tag {
    padding: 5px 10px;
    margin: 0 5px;
  }
}
.content-wrapper #package-list-container .package-list .left-wrapper .sub-tag-list .sub-tag:first-child {
  margin-left: 0;
}
.content-wrapper #package-list-container .package-list .left-wrapper .package-summary {
  width: 100%;
  text-align: left;
  color: var(--gray-color);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-summary {
    font-size: 24px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .package-list .left-wrapper .package-summary {
    overflow: hidden;
    font-size: 16px;
    height: 48px;
  }
}
.content-wrapper #package-list-container .paginationjs {
  position: relative;
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .paginationjs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content-wrapper #package-list-container .paginationjs .pagination-info-message {
  float: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .paginationjs .paginationjs-pages {
    float: right;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .paginationjs .paginationjs-pages {
    max-width: 80%;
    position: static;
    order: 2;
  }
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-next,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-prev,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-ellipsis,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-page {
  height: 36px;
  width: 34px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-next a,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-prev a,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-ellipsis a,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-page a {
  background: none;
  font-size: 16px;
  color: var(--dark-blue-color);
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-next,
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-prev {
  border: 1px solid var(--geyser-color);
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-ellipsis a {
  font-weight: bold;
  opacity: 1;
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-page {
  background-color: var(--geyser-color);
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-page.active {
  background-color: var(--blue-color);
}
.content-wrapper #package-list-container .paginationjs .paginationjs-pages .paginationjs-page.active a {
  color: white;
}
.content-wrapper #package-list-container .paginationjs .paginationjs-nav {
  font-style: italic;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 769px) {
  .content-wrapper #package-list-container .paginationjs .paginationjs-nav {
    max-width: 45%;
    position: absolute;
    left: 0;
    font-size: 24px;
    margin: 0;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .content-wrapper #package-list-container .paginationjs .paginationjs-nav {
    max-width: 80%;
    position: static;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.package-search-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  position: relative;
}
@media screen and (min-width: 240px) and (max-width: 480px) {
  .package-search-sort {
    margin: 24px 0 24px 8px;
  }
}
.package-search-sort label {
  flex-shrink: 0;
  color: #808FB0;
  line-height: 30px;
}
@media screen and (min-width: 769px) {
  .package-search-sort label {
    width: 100px;
    font-size: 24px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .package-search-sort label {
    width: 65px;
    font-size: 16px;
  }
}
.package-search-sort select {
  line-height: 30px;
  flex-shrink: 0;
  margin-bottom: 0;
  color: #001F60;
}
@media screen and (min-width: 769px) {
  .package-search-sort select {
    font-size: 24px;
    width: 315px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .package-search-sort select {
    font-size: 16px;
    width: 180px;
  }
}
.package-search-sort .select2-container {
  border: 3px solid rgba(68, 161, 231, 0.3);
  border-radius: 4px;
  max-width: 315px;
}
.package-search-sort .select2-container .select2-selection {
  border: none;
  height: 50px;
}
.package-search-sort .select2-container .select2-selection .select2-selection__rendered {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 769px) {
  .package-search-sort .select2-container .select2-selection .select2-selection__rendered {
    font-size: 24px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .package-search-sort .select2-container .select2-selection .select2-selection__rendered {
    font-size: 16px;
  }
}
.package-search-sort .select2-container .select2-selection .select2-selection__arrow {
  display: none;
}
.package-search-sort .packages-sort-chevron {
  background-image: url("/static/resources/chevron_down_icon.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  right: 20px;
  top: 23px;
  position: absolute;
}

.packages-sort-dropdown {
  border: 1px solid #D9DDE7;
  box-sizing: border-box;
  box-shadow: 0px 8px 12px rgba(2, 20, 58, 0.15);
  border-radius: 4px;
}
.packages-sort-dropdown .select2-results .select2-results__option {
  padding-left: 20px;
  line-height: 50px;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 769px) {
  .packages-sort-dropdown .select2-results .select2-results__option {
    font-size: 24px;
  }
}
@media screen and (min-width: 240px) and (max-width: 768px) {
  .packages-sort-dropdown .select2-results .select2-results__option {
    font-size: 16px;
  }
}
.packages-sort-dropdown .select2-results .select2-results__option[aria-selected=true] {
  background-color: transparent;
}
.packages-sort-dropdown .select2-results .select2-results__option--highlighted[aria-selected] {
  background-color: #E3F1FB;
}

/*# sourceMappingURL=index.css.map */
