.package-settings-container {
  min-height: calc(100vh - 350px);
  margin: 0;
}
.package-settings-container .owner_settings_wrapper {
  margin-top: 82px;
}
.package-settings-container .owner_settings_wrapper .owner_header {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.package-settings-container .owner_settings_wrapper .owner_header .owner_settings_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 258px) and (max-width: 455px) {
  .package-settings-container .owner_settings_wrapper .owner_header .owner_settings_title {
    font-size: 24px;
    line-height: 32px;
  }
}
.package-settings-container .owner_settings_wrapper .owner_header .add_collaborators_btn {
  float: right;
  padding: 15px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 258px) and (max-width: 455px) {
  .package-settings-container .owner_settings_wrapper .owner_header .add_collaborators_btn {
    width: 32px;
    height: 24px;
  }
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form {
  display: flex;
  flex-flow: row nowrap;
  padding: 28px 60px;
  justify-content: space-between;
  border: 1px solid #d9dde7;
  border-radius: 4px;
  margin-top: 40px;
  height: 108px;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .owner_collab_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .owner_collab_wrapper .collaborators_info {
  font-weight: 700;
  font-size: 24px;
  line-height: 54px;
  height: 25px;
  color: var(--dark-blue-color);
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .owner_collab_wrapper .collaborators_input {
  margin: 0;
  margin-left: 40px;
  width: 711px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: rgba(0, 31, 96, 0.5);
  border: 0;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .add_collaborators_btn {
  padding: 15px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.package-settings-container .collaborators_wrapper {
  margin-top: 82px;
}
.package-settings-container .collaborators_wrapper .collaborators_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 40px;
  color: var(--dark-blue-color);
}
.package-settings-container .collaborators_wrapper .collaborators_table {
  border: 1px solid #e9ecef;
  width: 900px;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_table {
    width: 800px;
  }
}
@media screen and (min-width: 456px) and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_table {
    width: 440px;
  }
}
@media screen and (min-width: 258px) and (max-width: 455px) {
  .package-settings-container .collaborators_wrapper .collaborators_table {
    width: 300px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  position: relative;
}
@media screen and (min-width: 258px) and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row {
    flex-flow: row wrap;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row.header {
  height: 50px;
  background: #d9dde7;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .email_address {
  width: 29%;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-blue-color);
  display: flex;
  flex-direction: column;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .email_address.header {
  font-weight: 500;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .email_address span {
  color: var(--gray-color);
  opacity: 80%;
  font-size: 18px;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .sending_status {
  position: absolute;
  left: 16px;
  top: 48px;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .roles {
  width: 19%;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-blue-color);
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .roles.header {
  font-weight: 500;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .roles .collaborator {
  margin-bottom: 0px;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission {
  width: 49%;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--dark-blue-color);
}
@media screen and (min-width: 258px) and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission {
    margin-top: 8px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.header {
  font-weight: 500;
  width: 380px;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.collaborators_settings {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 380px;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.collaborators_settings .ownership_btn {
  padding: 15px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.collaborators_settings .ownership_btn.transfer {
  color: #658f72;
  background-color: #effff4;
}
.package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.collaborators_settings .ownership_btn.remove {
  color: #eb5757;
  background: none;
}
@media screen and (min-width: 258px) and (max-width: 455px) {
  .package-settings-container .collaborators_wrapper .collaborators_table .collaborator_row .permission.collaborators_settings .ownership_btn {
    height: 24px;
    width: 32px;
  }
}

.reveal {
  top: 25% !important;
}

#new_collaborator_modal,
#transfer_owner_modal,
#remove_owner_modal {
  color: var(--dark-blue-color);
  padding: 40px;
}
@media screen and (max-width: 39.99875em) {
  #new_collaborator_modal,
#transfer_owner_modal,
#remove_owner_modal {
    top: 50%;
    transform: translateY(-50%);
    height: unset;
    min-height: unset;
  }
}
#new_collaborator_modal .message,
#transfer_owner_modal .message,
#remove_owner_modal .message {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  color: var(--gray-color);
}
#new_collaborator_modal .owner_message,
#transfer_owner_modal .owner_message,
#remove_owner_modal .owner_message {
  font-weight: 700;
  font-size: 24px;
  line-height: 54px;
  color: var(--gray-color);
  margin-bottom: 4px;
}
#new_collaborator_modal .warning,
#transfer_owner_modal .warning,
#remove_owner_modal .warning {
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #ec7257;
  margin-bottom: 36px;
}
#new_collaborator_modal .package-name-version,
#transfer_owner_modal .package-name-version,
#remove_owner_modal .package-name-version {
  display: flex;
  align-items: baseline;
  line-height: 24px;
  margin-bottom: 32px;
}
#new_collaborator_modal .package-name-version .package-name,
#transfer_owner_modal .package-name-version .package-name,
#remove_owner_modal .package-name-version .package-name {
  color: var(--dark-blue-color);
  font-size: 32px;
  font-weight: 700;
}
#new_collaborator_modal .package-name-version .package-version,
#transfer_owner_modal .package-name-version .package-version,
#remove_owner_modal .package-name-version .package-version {
  margin-left: 20px;
  font-size: 24px;
  color: var(--gray-color);
}
#new_collaborator_modal .new-token-container,
#transfer_owner_modal .new-token-container,
#remove_owner_modal .new-token-container {
  display: flex;
  align-items: center;
}
#new_collaborator_modal .new-token-container .new-token-name,
#transfer_owner_modal .new-token-container .new-token-name,
#remove_owner_modal .new-token-container .new-token-name {
  height: 48px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
  border-radius: 4px;
  width: 100%;
  max-width: 516px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-right: 8px;
}
#new_collaborator_modal .new-token-container .new-token-name input,
#transfer_owner_modal .new-token-container .new-token-name input,
#remove_owner_modal .new-token-container .new-token-name input {
  outline: none;
  border: none;
  width: 100%;
}
#new_collaborator_modal .new-token-container .collaborators_btn,
#transfer_owner_modal .new-token-container .collaborators_btn,
#remove_owner_modal .new-token-container .collaborators_btn {
  padding: 15px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
}
#new_collaborator_modal .new-token-container .collaborators_btn.submit, #new_collaborator_modal .new-token-container .collaborators_btn.add,
#transfer_owner_modal .new-token-container .collaborators_btn.submit,
#transfer_owner_modal .new-token-container .collaborators_btn.add,
#remove_owner_modal .new-token-container .collaborators_btn.submit,
#remove_owner_modal .new-token-container .collaborators_btn.add {
  color: #fff;
  background-color: var(--blue-color);
}
#new_collaborator_modal .new-token-container .collaborators_btn.cancel,
#transfer_owner_modal .new-token-container .collaborators_btn.cancel,
#remove_owner_modal .new-token-container .collaborators_btn.cancel {
  color: #fff;
  background-color: #9e9e9e;
  margin-left: 20px;
}

#success_modal {
  background-color: #effff4;
  border-radius: 4px;
  margin: auto;
}
#success_modal .message {
  color: #333333;
}
#error_modal {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin: auto;
}
#error_modal .message {
  color: #eb5757;
}

.hidden-btn {
  visibility: hidden;
}

/*# sourceMappingURL=owner_settings.css.map */
