{% extends "settings/layout.html" %}

{% block javascript %}

<script src="/static/js/settings/user_package.js"></script>
<link href="/static/css/settings/user_packages.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" type="text/javascript"></script>
{% endblock %}

{% block settings_content %}


<div class="user_package_container">
        <div class="total_package">{{total_downloads}} download{{ total_downloads | pluralize }}</div>
</div>
<script>
    new Package()
</script>
{% endblock %}
