{% extends "settings/layout.html" %}

{% block title %}Settings | Movey{% endblock %}

{% block javascript %}
<link href="/static/css/settings/invitations.css" rel="stylesheet"/>
<!-- <script src="/static/js/settings/user_package.js"></script> -->
<script src="/static/js/settings/invitations.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"
  type="text/javascript"
></script>
{% endblock %}

{% block settings_content %}
<div class="package-settings-container">  
  <div class="collaborators_wrapper">
    <div class="collaborators_title">Invitations</div>
    {% for invitation in invitations %}
      <div class="collaborators_content">
        <div class="collaborators_info">
          <div class="package-name-version">
              <div class="package-name">{{ invitation.package_name }}</div>
              <div class="package-version">
                {% if invitation.is_transferring %}
                  Owner
                {% else %}
                  Collaborator
                {% endif %}
              </div>
          </div>
        </div>
        <div class="invitations_owners">
            Invited by: <span class="invitations_owners email">{{ invitation.invited_by_user_email }}</span>
        </div>
        <div class="collaborators_settings" data-package-id="{{ invitation.package_id }}">
          <button id="submit-btn" type="submit" class="ownership_btn accept">
            Accept
          </button>
          <button id="submit-btn" type="submit" class="ownership_btn cancel">
            Cancel
          </button>
        </div>
      </div>
      {% endfor %}
  </div>
  <script>
    new Invitations();
  </script>
</div>
{% endblock %}
