{% extends "layout_dark.html" %}

{% block title %}Settings | Movey{% endblock %}
{% block meta_description %}Allow user to manage their accounts information and tokens{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
    <link href="/static/css/settings/show.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
    <script src="/static/js/packages/show.js"></script>
    <script src="/static/js/packages/versions.js"></script>
{% endblock %}

{% block content%}

<div class="package-show-container">
    <div class="package-info-container">
        <div class="package-name-version">
            <div class="package-name">Account Settings</div>
        </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="package-content-container">
        <div class="package-content-tabs">
            <div onclick="location.href='/settings/profile';" class="content-tab tab-readme {% if profile_tab == 'profile' %}active{% endif %}">
                <a href="/settings/profile">
                    <div class="tab-icon tab-icon-profile"></div>
                    <div class="tab-name">Profile</div>
                </a>
            </div>
            <div onclick="location.href='/settings/packages';" class="content-tab tab-dependency {% if profile_tab == 'packages' %}active{% endif %}">
                <a href="/settings/packages">
                    <div class="tab-icon tab-icon-packages"></div>
                    <div class="tab-name">My packages</div>
                </a>
            </div>
            <div onclick="location.href='/settings/tokens';" class="content-tab tab-versions {% if profile_tab == 'tokens' %}active{% endif %}">
                <a href="/settings/tokens">
                    <div class="tab-icon tab-icon-tokens"></div>
                    <div class="tab-name">Tokens</div>
                </a>
            </div>
            <div onclick="location.href='/settings/invitations';" class="content-tab tab-invitations {% if profile_tab == 'invitations' %}active{% endif %}">
                <a href="/settings/invitations">
                    <div class="tab-icon tab-icon-invitations"></div>
                    <div class="tab-name">Invitations</div>
                </a>
            </div>
        </div>
        {% block settings_content %}{% endblock %}
    </div>
</div>
{% endblock %}
