{% extends "settings/layout.html" %}

{% block javascript %}
<script src="/static/js/settings/profile.js"></script>
{% endblock %}

{% block content %}

<form action="/settings/profile" method="POST">
    <label for="email">Email</label>
    <input name="email" id="email" type="email" class="email disabled" disabled placeholder="{{ email }}">

    <label for="current-password">Current password</label>
    <input name="current_password" id="current-password" type="password" minlength="8" class="current-password">

    <label for="new-password">New password</label>
    <input name="new_password" id="new-password" type="password" minlength="8" class="new-password">

    <label for="password-confirm">Confirm password</label>
    <input name="password_confirm" id="password-confirm" type="password" minlength="8" class="password-confirm">

    <button id="save-btn" type="submit" class="submit-btn" disabled>
        Submit
    </button>
</form>
<button id="discard-btn">Discard</button>
{% if form %}
    {% for err in form.new_password.errors %}
        <p class="error">{{ err }}</p>
    {% endfor %}
{% endif %}

{% if form %}
    {% for err in form.current_password.errors %}
        <p class="error">{{ err }}</p>
    {% endfor %}
{% endif %}

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}


<script>
  new Profile()
</script>
{% endblock %}
