
{% extends "settings/layout.html" %}
{% block title %}{% endblock %}
{% block javascript %}

<script src="/static/js/settings/user_package.js"></script>
<script src="/static/js/settings/tokens.js"></script>
<link href="/static/css/settings/user_tokens.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" type="text/javascript"></script>
{% endblock %}


{% block settings_content %}

<div class="tokens-banner">Movey uses a new authentication token format. We encourage you to reset tokens to take advantage of this format.</div>
<a class="api-tokens">API Tokens</a>
<a class="new-token-button">New Token</a>
<button class="create-button">Create</button>
<input class="new-token" placeholder="New token name">New Token</input>
<p class="created-token"></p>
<p class="error"></p>

<script>
  new Tokens()
</script>
{% endblock %}
