<header>
  <div class="header-container">
    <a href="/">
      <img
          src="/static/resources/logo_white.svg"
          height="30"
          width="235" />
    </a>
    <nav>
      <ul>
        <li><a href="#" class="header-text">About</a></li>
        <li><a href="#" class="header-text">Documentation</a></li>
        <li><a href="#" class="header-text">Community</a></li>
      </ul>
      <ul id="right-wrapper">
        <li>
          <button class="search-btn" data-active="false">
            <i id="search-btn-icon" class="fa fa-search"></i>
          </button>
        </li>
        <li>
          <a class="sign-in" href="/accounts/login/">
            <button class="sign-in">SIGN IN</button>
          </a>
        </li>
        <li>
          <a class="sign-up" href="/accounts/register/">
            <button class="sign-up">SIGN UP</button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="search-bar">
  <form action="">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input id="search-field" type="text" placeholder="Search packages..." name="query">
    <i class="fa fa-times-circle"></i>
  </form>
</div>
