@import "static/css/queries.scss";

.package-settings-container {
  min-height: calc(100vh - 350px);
  margin: 0;

  .owner_settings_wrapper {
    margin-top: 82px;

    .owner_settings_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      color: var(--dark-blue-color);
    }

    .add_collaborators_form {
      display: flex;
      flex-flow: row nowrap;
      padding: 28px 60px;
      justify-content: space-between;
      border: 1px solid #d9dde7;
      border-radius: 4px;
      margin-top: 40px;
      height: 108px;

      .owner_collab_wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .collaborators_input {
          margin: 0;
          margin-left: 40px;
          width: 711px;
          height: 48px;
          background: #f2f2f2;
          border-radius: 5px 0px 0px 5px;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.1px;
          color: rgba(0, 31, 96, 0.5);
          border: 0;
        }
      }

      .add_collaborators_btn {
        padding: 15px 55px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        background-color: #808fb0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .collaborators_wrapper {
    margin-top: 82px;

    .collaborators_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 40px;
      color: var(--dark-blue-color);
    }

    .collaborators_content {
      display: flex;
      flex-flow: row nowrap;
      padding: 28px 60px;
      justify-content: space-between;
      border-bottom: 1px solid #d9dde7;
      border-radius: 4px;
      height: 108px;
      padding-bottom: 40px;
      margin-bottom: 48px;
      align-items: center;

      @include small-screen {
        flex-flow: row wrap;
        padding-bottom: 180px;
        margin-bottom: 24px;
      }

      .collaborators_info {
        display: flex;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;

        .package-name-version {
          display: flex;
          align-items: baseline;
          line-height: 32px;

          @include small-screen {
            flex-flow: column nowrap;
          }

          .package-name-view {
            color: var(--dark-blue-color);
            font-size: 32px;
            font-weight: 700;

            @include medium-screen {
              font-size: 28px;
            }

            @include small-screen {
              font-size: 24px;
            }
          }

          .package-version {
            margin-left: 20px;
            font-size: 24px;
            color: var(--gray-color);

            @include medium-screen {
              font-size: 24px;
            }

            @include small-screen {
              margin-left: 0px;
              font-size: 22px;
            }
          }
        }

        .avatar-image {
          width: 60px;
          height: 60px;

          @include small-screen {
            width: auto;
            height: auto;
          }
        }

        .collaborators_info {
          margin-left: 16px;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          color: var(--dark-blue-color);
        }
      }

      .invitations_owners {
        font-weight: 400;
        font-size: 18px;
        color: #808fb0;
        height: fit-content;

        &.email {
          font-weight: 700;
          color: #001f60;
        }

        @include medium-screen {
          font-size: 16px;
        }

        @include small-screen {
          font-size: 16px;
        }
      }

      .collaborators_settings {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 380px;

        @include medium-screen {
          width: 264px;
          justify-content: flex-start;
        }

        @include small-screen {
          margin-top: 16px;
        }

        .ownership_btn {
          padding: 15px 55px;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          cursor: pointer;
          text-transform: uppercase;

          &.transfer {
            color: #658f72;
            background-color: #effff4;
          }

          &.remove {
            color: #eb5757;
            background: rgba(235, 87, 87, 0.15);

            &:hover {
              color: #eb5757;
              background: rgba(255, 216, 216, 0.15);
            }
          }

          &.accept {
            color: #fff;
            background-color: #44a1e7;

            &:hover {
              color: #fff;
              background-color: var(--blue-color-hover);
            }
          }

          &.cancel {
            color: #fff;
            background-color: #808fb0;
            margin-left: 20px;

            &:hover {
              color: #fff;
              background-color: var(--gray-color-hover);
            }
          }

          @include medium-screen {
            height: 36px;
            width: 100px;
          }

          @include mobile-screen {
            height: 32px;
            width: 80px;
          }
        }
      }
    }
  }
}
