.package-settings-container {
  min-height: calc(100vh - 350px);
  margin: 0;
}
.package-settings-container .owner_settings_wrapper {
  margin-top: 82px;
}
.package-settings-container .owner_settings_wrapper .owner_settings_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--dark-blue-color);
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form {
  display: flex;
  flex-flow: row nowrap;
  padding: 28px 60px;
  justify-content: space-between;
  border: 1px solid #d9dde7;
  border-radius: 4px;
  margin-top: 40px;
  height: 108px;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .owner_collab_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .owner_collab_wrapper .collaborators_input {
  margin: 0;
  margin-left: 40px;
  width: 711px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: rgba(0, 31, 96, 0.5);
  border: 0;
}
.package-settings-container .owner_settings_wrapper .add_collaborators_form .add_collaborators_btn {
  padding: 15px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #808fb0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.package-settings-container .collaborators_wrapper {
  margin-top: 82px;
}
.package-settings-container .collaborators_wrapper .collaborators_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 40px;
  color: var(--dark-blue-color);
}
.package-settings-container .collaborators_wrapper .collaborators_content {
  display: flex;
  flex-flow: row nowrap;
  padding: 28px 60px;
  justify-content: space-between;
  border-bottom: 1px solid #d9dde7;
  border-radius: 4px;
  height: 108px;
  padding-bottom: 40px;
  margin-bottom: 48px;
  align-items: center;
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content {
    flex-flow: row wrap;
    padding-bottom: 180px;
    margin-bottom: 24px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version {
  display: flex;
  align-items: baseline;
  line-height: 32px;
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version {
    flex-flow: column nowrap;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-name-view {
  color: var(--dark-blue-color);
  font-size: 32px;
  font-weight: 700;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-name-view {
    font-size: 28px;
  }
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-name-view {
    font-size: 24px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-version {
  margin-left: 20px;
  font-size: 24px;
  color: var(--gray-color);
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-version {
    font-size: 24px;
  }
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .package-name-version .package-version {
    margin-left: 0px;
    font-size: 22px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .avatar-image {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .avatar-image {
    width: auto;
    height: auto;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_info .collaborators_info {
  margin-left: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-blue-color);
}
.package-settings-container .collaborators_wrapper .collaborators_content .invitations_owners {
  font-weight: 400;
  font-size: 18px;
  color: #808fb0;
  height: fit-content;
}
.package-settings-container .collaborators_wrapper .collaborators_content .invitations_owners.email {
  font-weight: 700;
  color: #001f60;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .invitations_owners {
    font-size: 16px;
  }
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .invitations_owners {
    font-size: 16px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 380px;
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings {
    width: 264px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 843px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings {
    margin-top: 16px;
  }
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn {
  padding: 15px 55px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.transfer {
  color: #658f72;
  background-color: #effff4;
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.remove {
  color: #eb5757;
  background: rgba(235, 87, 87, 0.15);
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.remove:hover {
  color: #eb5757;
  background: rgba(255, 216, 216, 0.15);
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.accept {
  color: #fff;
  background-color: #44a1e7;
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.accept:hover {
  color: #fff;
  background-color: var(--blue-color-hover);
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.cancel {
  color: #fff;
  background-color: #808fb0;
  margin-left: 20px;
}
.package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn.cancel:hover {
  color: #fff;
  background-color: var(--gray-color-hover);
}
@media screen and (min-width: 844px) and (max-width: 1280px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn {
    height: 36px;
    width: 100px;
  }
}
@media screen and (min-width: 258px) and (max-width: 455px) {
  .package-settings-container .collaborators_wrapper .collaborators_content .collaborators_settings .ownership_btn {
    height: 32px;
    width: 80px;
  }
}

/*# sourceMappingURL=invitations.css.map */
