@import "./queries";

.user_package_container {
    display: flex;
    flex-flow: column nowrap;
    
    .total_package {
        width: 100%;
        color: var(--dark-blue-color);
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin: 40px auto;
    }
    .package_content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border-bottom: 1px solid rgba(128, 143, 176, .5);
        margin-bottom: 20px;
        
        .package_title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            .package_name {
                color: var(--dark-blue-color);
                font-weight: 700;
                font-size: 24px;
                line-height: 24px;
            }

            .package_version {
                font-weight: normal;
                color: var(--gray-color);
                margin-left: 8px;
                font-weight: 700;
                font-size: 18px;
            }
        }
        .package_description {
            color: var(--gray-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
        }
        .package-time {
            color: var(--gray-color);
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

}