{% extends "layout_dark.html" %}

{% block title %}Bad Request | Movey{% endblock %}

{% block css %}
<link href="/static/css/404/404.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="not-found-wrapper">
    <div class="large-message">Oops!</div>
    <div class="title">Bad request...</div>
    <div class="error-wrapper">
        <img src="/static/resources/404-page.svg" class="error-illustration" alt="Confused face" />
        <div class="error-code">400</div>
    </div>
    <div class="small-message">Something is wrong with your request. Please try again.</div>
</div>
{% endblock %}
