{% extends "layout_without_header.html" %}

{% block title %}Not Found | Movey{% endblock %}

{% block css %}
<link href="/static/css/404/404.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="not-found-wrapper">
    <p class="title">Oops!</p>
    <p class="message">Page not found...</p>
    <div class="image"></div>
    <p class="sub message">The page is missing or you assembled the link incorrectly.</p>
    <div class="return-home-wrapper">
        <div class="return-icon"></div>
        <a href="/">go home</a>
    </div>
</div>
{% endblock %}
