<footer>
  <div class="footer-container">
    <div class="footer-about">
      <img
              src="/static/resources/logo_blue.svg"
              height="30"
              width="235" />
      <div class="about-us">
        We're East Agile, the company behind Movey, the Move package manager, the Movey Registry.
      </div>
    </div>
    <div class="footer-center">
      <div class="link-container">
        <a class="footer-link" href="#">OUR TEAM</a>
        <span>/</span>
        <a class="footer-link" href="">CONTACT US</a>
        <span>/</span>
        <a class="footer-link" href="/terms-of-use">TERMS & CONDITIONS</a>
        <span>/</span>
        <a class="footer-link" href="/policy">SECURITY POLICY</a>
      </div>
      <ul class="social-icons">
        <li>
          <a class="" href="#" target="_blank">
            <img class="" src="/static/resources/twitter_small.svg"/>
          </a>
        </li>
        <li>
          <a class="" href="#" target="_blank">
            <img class="" src="/static/resources/medium.svg"/>
          </a>
        </li>
        <li>
          <a class="" href="#" target="_blank">
            <img class="icon" src="/static/resources/github_small.svg"/>
          </a>
        </li>
        <li>
          <a class="" href="#" target="_blank">
            <img class="icon flex" src="/static/resources/reddit_small.svg"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <div class="copyright">
      © 2022 East Agile. All rights reserved.
      </div>
      <img src="/static/resources/EA_logo_primary.svg"
           height="40"
           width="160" />
    </div>
  </div>
</footer>
