<footer>
  <div class="footer-container">
    <div class="footer-about">
      <a href="/">
        <img
                src="/static/resources/logo_blue.svg"
                height="30"
                width="235" 
                alt = "Movey website EastAgile logo"/>
      </a>
      <div class="about-us">
        We're East Agile, the company behind Movey, the Move package manager, the Movey Registry.
      </div>
    </div>
    <div class="footer-center">
      <div class="link-container">
        <!-- <a class="footer-link about" href="/about">OUR TEAM</a> -->
        <a class="footer-link contact" href="/contact" target="_blank">CONTACT US</a>
        <a class="footer-link terms" href="/terms-of-use" target="_blank">TERMS & CONDITIONS</a>
        <a class="footer-link policy" href="/policy" target="_blank">PRIVACY POLICY</a>
      </div>
      <ul class="social-icons">
        <li>
          <a class="" href="https://github.com/ea-open-source" target="_blank">
            <img class="icon" src="/static/resources/github_small.svg" alt = "Movey website links with github"/>
          </a>
        </li>
        <li>
          <a class="" href="https://twitter.com/MoveyEastAgile" target="_blank">
            <img class="" src="/static/resources/twitter_small.svg" alt = "Movey website links with twitter"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <div class="copyright">
      © 2022 East Agile. All rights reserved.
      </div>
      <a href="https://www.eastagile.com" target="_blank">
      <img src="/static/resources/EA_logo_primary.svg"
           height="40"
           width="160" 
           alt="Movey website EastAgile logo"/>
          </a>
    </div>
  </div>
</footer>
