<header>
  <div class="header-container">
    <div class="menu-nav"></div>
    <a href="/">
      <div class="header-logo"></div>
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="#" class="header-text">About</a></li>
        <li><a href="#" class="header-text">Documentation</a></li>
        <li><a href="#" class="header-text">Community</a></li>
      </ul>
      <ul id="right-wrapper">
        <li>
          <button class="search-btn" data-active="false">
            <i id="search-btn-icon" class="fa fa-search"></i>
          </button>
        </li>
        <li>
          <a class="sign-in" href="/accounts/login/">
            SIGN IN
          </a>
        </li>
        <li>
          <a class="sign-up" href="/accounts/register/">
            SIGN UP
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="search-bar">
  <form action="/packages/search">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input id="search-field" type="text" placeholder="Search packages..." name="query">
    <i class="fa fa-times-circle"></i>
  </form>
</div>
<script>
  new Header();
  new SearchBar();
</script>
