<header>
  <div class="header-container">
    <div class="menu-nav"></div>
    <a href="/">
      <div class="header-logo"></div>
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="#" class="header-text">About</a></li>
        <li><a href="#" class="header-text">Documentation</a></li>
        <li><a href="#" class="header-text">Community</a></li>
      </ul>
      <ul id="right-wrapper">
        <li>
          <button class="search-btn" data-active="false">
            <i id="search-btn-icon" class="fa fa-search"></i>
          </button>
        </li>
        <li id="account-dropdown">
          <button id="account-icon">A</button>
          <img id="account-dropdown-toggle" src="/static/resources/chevron_down_icon_white.svg">
          <ul id="account-dropdown-list">
            <li>Account Settings</li>
            <li>Sign Out</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="search-bar">
  <form action="/packages/search">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input id="search-field" 
      type="text" 
      placeholder="Search packages..." 
      name="query"
      autofocus
    >
    <i class="fa fa-times-circle"></i>
  </form>
</div>
<script>
  new Header();
  new SearchBar();
</script>
