<header class="dark">
  <div class="header-container">
    <div class="menu-nav"></div>
    <a href="/">
      <div class="header-logo"></div>
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="#" class="header-text">About</a></li>
        <li><a href="#" class="header-text">Documentation</a></li>
        <li><a href="#" class="header-text">Community</a></li>
      </ul>
      <ul>
        <li><div class="search_icon"></div></li>
        <li><a class="sign-in" href="/accounts/login/">SIGN IN</a></li>
        <li><a class="sign-up" href="/accounts/register/">SIGN UP</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-search-overlay">
    <div class="header-search-overlay-container">
      <div class="header-search-overlay-content">
        <div class="header-search-overlay-icon"></div>
        <input type="text" name="header-search-input" id="header-search-input" class="header-search-input"/>
        <div class="header-search-overlay-close"></div>
      </div>
    </div>
  </div>
</header>
<script>
  new Header();
</script>
