<header class="dark">
  <div class="header-container">
    <img
            src="/static/resources/logo.svg"
            height="30"
            width="235" />
    <nav>
      <ul>
        <li><a href="#" class="header-text">About</a></li>
        <li><a href="#" class="header-text">Documentation</a></li>
        <li><a href="#" class="header-text">Community</a></li>
      </ul>
      <ul>
        <li><div class="search_icon"></div></li>
        <li><button class="sign-in">SIGN IN</button></li>
        <li><button class="sign-up">SIGN UP</button></li>
      </ul>
    </nav>
  </div>
</header>
