{% extends "layout.html" %}

{% block title %}Movey{% endblock %}
{% block css %}
  <link href="/static/css/home.css" rel="stylesheet"/>
  <link href="/static/css/autocomplete/autocomplete.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="home-container">
    <div class="subtitle">Reproducible builds and deployments.</div>
    <div class="search-container">
      <div id="input-main"></div>
    </div>
    <a href="/packages/">
      <div class="home-component stat-container">
        <div class="stat-package">
          <div class="stat-no">{{package_count}}</div>
          <div class="stat-name">PACKAGES</div>
        </div>
        <div>
          <div class="stat-no">{{package_version_count}}</div>
          <div class="stat-name">RELEASES</div>
        </div>
      </div>
    </a>
    <div class="social-container">
      <div class="social-subtitle">Movey was developed by <a href="https://www.eastagile.com" target="_blank">East Agile</a>.</div>
      <ul class="social-icons">
        <li>
          <a class="icon flex" href="https://github.com/ea-open-source" target="_blank">
            <img class="icon flex" src="/static/resources/github.svg"/>
          </a>
        </li>
        <li>
          <a class="icon flex" href="https://twitter.com/MoveyEastAgile" target="_blank">
            <img class="icon flex" src="/static/resources/twitter.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    $('header').removeClass("dark");
  </script>
{% endblock %}
{% block script %}
<script src="/static/js/autocomplete/autocomplete.js"></script>
<script>
  const getSuggestionsA = (keyword = "") =>
          keyword.length >= 3 ? $.ajax({
            type: 'POST',
            dataType:"json",
            url: '/api/v1/search_package/',
            contentType: "application/json",
            processData: false,
            headers:{},
            data: JSON.stringify({ "search_query": keyword }),
            success: function (data, status, xhr) {
              return data
            },
            error: function(xhr, status, errorThrown){
              return errorThrown
            },
          }) : {};
  const selectSuggestion = (suggestion) => {
          window.location.href = '/packages/'+suggestion;
  }
  window.addEventListener('DOMContentLoaded', () => {
    // Now safely manipulate DOM
    new AutoComplete(
            "input-main",
            (keyword) => getSuggestionsA(keyword),
            selectSuggestion,
            true,
            "Search packages..."
    );
  });
</script>
{% endblock %}
