{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block css %}
  <link href="/static/css/home.css" rel="stylesheet"/>
  <link href="/static/css/autocomplete/autocomplete.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="home-container">
    <div class="subtitle">Reproducible builds and deployments.</div>
    <div class="search-container">
      <form action="/action_page.php">
        <button class="button" type="submit"><i class="fa fa-search"></i></button>
        <div class="search-text">
          <input type="text" placeholder="Search packages..." name="search">
        </div>
      </form>
      <div id="input-main"></div>
    </div>
    <div class="home-component stat-container">
      <div class="stat-package">
        <div class="stat-no">8376</div>
        <div class="stat-name">PACKAGES</div>
      </div>
      <div>
        <div class="stat-no">122459</div>
        <div class="stat-name">RELEASES</div>
      </div>
    </div>
    <div class="social-container">
      <div class="social-subtitle">MOVEY was developed by East Agile.</div>
      <ul class="social-icons">
        <li>
          <a class="icon flex" href="#" target="_blank">
            <img class="icon flex" src="/static/resources/github.svg"/>
          </a>
        </li>
        <li>
          <a class="icon flex" href="#" target="_blank">
            <img class="icon flex" src="/static/resources/slack.svg"/>
          </a>
        </li>
        <li>
          <a class="icon flex" href="#" target="_blank">
            <img class="icon flex" src="/static/resources/twitter.svg"/>
          </a>
        </li>
        <li>
          <a class="icon flex" href="#" target="_blank">
            <img class="icon flex" src="/static/resources/reddit.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    $('header').removeClass("dark");
  </script>
{% endblock %}
{% block script %}
<script src="/static/js/autocomplete/autocomplete.js"></script>
<script>
  const getSuggestionsA = (keyword = "") =>
          keyword.length < 3 ? ["Test 1", "Test 2", "Test 3"] : [];
  const selectSuggestion = (suggestion) =>
          alert(JSON.stringify(suggestion));
  window.addEventListener('DOMContentLoaded', () => {
    // Now safely manipulate DOM
    new AutoComplete(
            "input-main",
            (keyword) => getSuggestionsA(keyword),
            selectSuggestion,
            true,
            "Search packages..."
    );
  });
</script>
{% endblock %}
