{% extends "layout_dark.html" %}

{% block title %}About Us | Movey{% endblock %}

{% block meta_description %}About Movey website{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
<link href="/static/css/contact.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
{% endblock %}

{% block content %}
<div class="contact-container">
	<h1 class="page_name">About Movey</h1>
	<div class="contact-line"></div>
	<div class="contact-content">
		Movey, developed by <a href="https://www.eastagile.com/" target="_blank">East Agile</a>, is a tightly integrated
		platform for Move developers to discover, validate and collaborate on Move packages.
		<br><br>
		Movey is lots of things.
		<ul>
			<li>
				Movey is the package registry for the <a href="https://github.com/move-language/move" target="_blank">Move
					language</a>. Move is a safe and reliable language developed for writing safe smart contracts originally
				developed at Facebook to power the Diem blockchain.
			</li>
			<li>
				You can interact with Movey via the official Move CLI.
				<ul>
					<li><code>move movey-login</code> (<a href="https://github.com/move-language/move/pull/226"
							target="_blank">#226</a>): identify yourself by using Movey's API tokens.</li>
					<li><code>move movey-upload</code> (<a href="https://github.com/move-language/move/pull/227"
							target="_blank">#227</a>): upload your Move package metadata and let the community see your work.</li>
				</ul>
			</li>
		</ul>

		Movey is planning to:
		<ul>
			<li>Validate packages by comparing it on-chain and off-chain.</li>
			<li>Enable the community to improve and enhance the package contents on Movey.</li>
		</ul>
	</div>
</div>
{% endblock %}
