
{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
    <link href="/static/css/contact.css" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js"></script>
    
{% endblock %}

{% block content %}
    <div class="contact-container">
        <h1 class = "page_name">Contact Us</h1>
         <div class ="contact-content">If you need assistance with the movey packages or your movey account, if you have security concerns about a npm product, or if you need to report malicious or abusive conduct in a package in the registry, please contact us.</div>
        
         <div class="contact-line"></div>
        <div class="form-cta"> Submit a request </div>

        <form action="/accounts/contact/" method="POST" class="package-search-sort">
            <select name="category"
                    class="packages-sort"
                    data-sort=""
                    data-url="/packages/"
                    placeholder="Select category"      
            >
                <option value="" disabled  selected></option>
                <option name = "category"> Account</option>
                <option name = "category"> Password/Login issues</option>
                <option name = "category"> Usage/Lisence query</option>
                <option name = "category"> Contributor</option>
                <option name = "category"> Report a security issue</option>
                <option name = "category"> Others</option>
            </select>
            <div class="packages-sort-chevron"></div>

            <label class="contact-label"  for="name">Name</label>
            <input type="text" placeholder="John Doe" id="name" name="name" >

            <label class="contact-label" for="email">Email</label>
            <input type="email" placeholder="movey@eastagile.com" id="email" name="email" >
            
            <div class="contact-instruction">Please, enter the email address where you wish to receive our answer. If you are a registered user of Movey, please include the email address you used when you registered if possible to help us locate your account as soon as possible.</div>

            <label class="contact-label" for="descr">How can we help?</label>
            <textarea name="description" id="descr" placeholder="Write us a message" required minlength="6"></textarea>

            <button type="submit" class="contact-btn">
                Submit
            </button>
        </form>
    </div>

    <script>
        this.sortElement = $("select[name='category']");
        this.sortElement.select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownCssClass: 'packages-sort-dropdown',
            placeholder: "Select a category",
        });
    </script>
{% endblock %}

