{% extends "email/layout.html" %}
{% block content %}
<p>Hi there,</p>

<p>Someone just attempted to register for an account on Movey with your email address. Was this you? If not, feel free to disregard. If it was, did you mean to reset your password? If so, use the button or link below.</p>
<a href="{{ action_url }}" class="button button--" target="_blank">Reset Your Password</a>

<p>Or copy the link below into your browser address bar</p>
<p class="sub">{{ action_url }}</p>

<p>Thanks,</p>
<p><a href="mailto:{{ JELLY_SUPPORT_EMAIL }}">The Movey Team</a></p>
{% endblock %}
